lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

public/assets/libs
public/assets/css
public/components
public/models
public/shared
checkstyle.xml
codestyle.xml
