html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

html {
  -webkit-font-smoothing: antialiased;
  overflow-y: scroll;
  /* killing 300ms touch delay in IE */
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

body {
  width: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-size: 17px;
  line-height: 1.75;
  font-family: "Merriweather", "Book Antiqua", Palatino, serif;
}
body.is-loading {
  background: white url("../img/loading.gif") center center no-repeat;
}
body.is-loading > header, body.is-loading > div, body.is-loading > section, body.is-loading > article {
  display: none;
}

code, pre {
  font-family: "Courier New", Courier, monospace;
}

img, object, video {
  max-width: 100%;
  border: none;
}
.ie7 img, .ie7 object, .ie7 video {
  -ms-interpolation-mode: bicubic;
}

:invalid {
  border: none;
}

::-moz-selection {
  background: #bb3a6a !important;
  color: white !important;
  text-shadow: none;
}

::selection {
  background: #bb3a6a !important;
  color: white !important;
  text-shadow: none;
}

a {
  color: #bb3a6a;
  text-decoration: none;
}
a:hover, a:focus {
  color: #bb3a6a;
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 35px 0;
  font-weight: 700;
  font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
}
h1.sub-title, h2.sub-title, h3.sub-title, h4.sub-title, h5.sub-title, h6.sub-title {
  margin-top: 0;
  line-height: 1.53125;
  font-size: 19.839px;
  font-weight: 200;
  text-transform: none;
  color: #767676;
}

.dark a {
  color: #64e4a4;
}
.dark a:hover, .dark a:focus {
  color: white;
}
.dark h1, .dark h2, .dark h3, .dark h4, .dark h5 {
  color: white;
}
.dark, .dark h5, .dark p, .dark li, .dark small, .dark blockquote, .dark code {
  color: #f3f3f3;
}

h1, h2 {
  font-size: 25.5px;
}
h1.feature, .feature h1, h2.feature, .feature h2 {
  font-size: 34px;
}

h1 {
  margin-top: 0;
}

h2 {
  font-size: 21.25px;
}

h3 {
  font-size: 18.21429px;
}

h4, h5 {
  font-size: 15.9375px;
}

h5 {
  font-size: 14.16667px;
}

h6 {
  font-size: 12.75px;
  margin: 12.25px 0;
}

p {
  padding: 0;
  margin: 0 0 22.75px;
}
p.feature, .feature p {
  font-size: 19.839px;
}
p:last-child {
  margin-bottom: 0;
}

ul, ol {
  margin: 0 0 0 17.5px;
  padding: 0 0 17.5px 17.5px;
  list-style-type: square;
}
ul.lower-alpha, ol.lower-alpha {
  list-style-type: lower-alpha;
}
ul.lower-roman, ol.lower-roman {
  list-style-type: lower-roman;
}
ul.upper-alpha, ol.upper-alpha {
  list-style-type: upper-alpha;
}
ul.upper-roman, ol.upper-roman {
  list-style-type: upper-roman;
}
ul li, ol li {
  position: relative;
  padding: 0;
  margin: 0;
}
ul li ul, ul li ol, ol li ul, ol li ol {
  padding: 8.75px 0 0 17.5px;
}
ul li p, ol li p {
  padding: 0 0 8.75px;
}

.thin {
  font-weight: 100 !important;
}

blockquote {
  margin: 35px 0;
  padding: 0 35px;
  font-family: "Libre Baskerville", "Merriweather", serif;
  font-size: 2.1rem;
  line-height: 2em;
  font-weight: 400;
  font-style: italic;
  -webkit-font-smoothing: antialiased;
  border: none;
  text-align: center;
}

figure {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: box;
  -webkit-box-orient: inline-axis;
  -moz-box-orient: inline-axis;
  box-orient: inline-axis;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
  -ms-flex-pack: start;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
  -ms-flex-align: stretch;
  padding: 0;
  margin: 0 0 26.25px;
  border-radius: 0;
}
figure figcaption {
  padding: 8.75px 22.75px 17.5px;
  font-size: 80%;
  font-style: italic;
}

pre {
  padding: 22.75px;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

hr {
  margin: 43.75px 0 35px;
}

header[role="banner"] {
  position: relative;
  margin-bottom: 70px;
  text-align: center;
  background: #444444 no-repeat center center;
  background-size: cover;
  overflow: hidden;
}
header[role="banner"].home {
  height: 100vh;
}
header[role="banner"] section.wrap {
  max-width: 1088px;
  margin-left: auto;
  margin-right: auto;
}
header[role="banner"] section.wrap::after {
  clear: both;
  content: "";
  display: table;
}
header[role="banner"] .inner {
  padding: 0 17.5px;
}
@media screen and (min-width: 480px) {
  header[role="banner"] .inner {
    float: left;
    display: block;
    margin-right: 16.03631%;
    width: 100%;
    margin-left: 0%;
    padding: 0 35px;
  }
  header[role="banner"] .inner:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 768px) {
  header[role="banner"] .inner {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 65.05695%;
    margin-left: 17.47153%;
    padding: 0;
  }
  header[role="banner"] .inner:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  header[role="banner"] .inner {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin-left: 17.05961%;
  }
  header[role="banner"] .inner:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 1201px) {
  header[role="banner"] .inner {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    margin-left: 25.58941%;
  }
  header[role="banner"] .inner:last-child {
    margin-right: 0;
  }
}
header[role="banner"] #home {
  max-height: 70vh;
  margin-top: 30vh;
}
header[role="banner"] #home::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: -462px;
  bottom: 0;
  width: 392px;
  height: 571px;
  background: url("../img/lc01.png") center center no-repeat;
}
header[role="banner"] #home h1 {
  font-size: 38.25px;
}
header[role="banner"] #home .body {
  text-align: left;
}
