<div id="bg">
    <section>&nbsp;</section>
</div>

<header role="banner">
    <section>
        <nav class="group">
            <h2 class="logo"><a href="/">Lucas<span class="thin">Castro</span></a></h2>
            <ul>
                <li><a href="#results">Results</a></li>
                <li><a href="#cv">CV</a></li>
                <!-- <li><a href="#blog">Blog</a></li> -->
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </section>
</header>

<section class="dark wrap">
    <article id="blurb">
        <h1>Developer, Designer, Leader.</h1>
        <section class="body">
            <blockquote>“Leadership is the capacity to translate vision into reality.” <address>—Warren Bennis</address></blockquote>

            <p>As the lead on dozens of projects in the last 7 years, and with 10 years of experience overall, I have worked with small teams on a wide range of technologies, to maximize impact and quality for my clients.</p>

            <h2>Areas of Focus &mdash;</h2>
            <p>As a senior developer, my current areas of focus are:</p>
            <ul>
                <li>Building single-page web applications using AngularJS and React.</li>
                <li>Creating carefully designed MVC components for scalable apps.</li>
                <li>Providing thought leadership on the UX of interfaces my team builds.</li>
                <li>Developing web services to connect UI with backend, via RESTful APIs.</li>
                <li>Creating Node.js-based middleware.</li>
            </ul>

            <h2>Specialties</h2>
            <p>My background experience is heaviest on:</p>
            <ul>
                <li>Front-end development using AngularJS, SASS, HTML5, Javascript, and Grunt.</li>
                <li>Middleware development using Node.js.</li>
                <li>Graphic, web, and UX design.</li>
                <li>Helping small teams thrive</li>
            </ul>

        </section>
    </article>
</section>

<!-- Main Content -->
<main id="main" role="main">
    <article id="results" class="medium">
        <header>
            <h1>Key Results</h1>
        </header>
        <section>
            <h2>
                <span class="icon-grouping">
                    <span class="icon-star" arial-hidden="true"></span>
                    <span class="icon-star" arial-hidden="true"></span>
                    <span class="icon-star" arial-hidden="true"></span>
                    <span class="icon-star" arial-hidden="true"></span>
                    <span class="icon-star" arial-hidden="true"></span>
                    <span class="icon-star" arial-hidden="true"></span><br>
                    <span class="icon-star" arial-hidden="true"></span>
                    <span class="icon-star" arial-hidden="true"></span>
                    <span class="icon-star" arial-hidden="true"></span>
                    <span class="icon-star" arial-hidden="true"></span>
                    <span class="icon-star" arial-hidden="true"></span>
                </span>
                Tech Lead on 11 projects and products at bv02</h2>
            <h2>
                <span class="icon-grouping">
                    <span class="icon-scope" arial-hidden="true"></span>
                    <span class="icon-scope" arial-hidden="true"></span>
                    <span class="icon-scope" arial-hidden="true"></span>
                    <span class="icon-scope" arial-hidden="true"></span>
                    <span class="icon-scope" arial-hidden="true"></span><br>
                    <span class="icon-scope" arial-hidden="true"></span>
                    <span class="icon-scope" arial-hidden="true"></span>
                    <span class="icon-scope" arial-hidden="true"></span>
                    <span class="icon-scope" arial-hidden="true"></span>
                </span>
                Scoped and priced out 9 projects at bv02</h2>
            <h2>
                <span class="icon-grouping">
                    <span class="icon-product" arial-hidden="true"></span><br>
                    <span class="icon-product" arial-hidden="true"></span>
                </span>
                Managed the development of 2 products at UniForge</h2>
        </section>
        <section class="wide">
            <h2><span>1</span> $250K project rescued with timely leadership &amp; vision</h2>
            <h2><span>7</span> team members trained and mentored on design &amp; development</h2>
            <h2><span>40</span> (and beyond) projects  managed for dozens  of clients</h2>
            <h2><span>2</span> crowdfunding campaigns succesfully completed</h2>
        </section>
        <section class="narrow icon-stack">
            <h2 class="icon-board">Created and maintained kanban dashboards for initiatives and project management</h2>
            <h2 class="icon-process">Established processes for version control, project management, and communications</h2>
            <h2 class="icon-convention">Defined conventions for design, front-end development, and back-end development</h2>
            <h2 class="icon-group">Organized and led internal improvements task force</h2>
        </section>
    </article>

    <article id="cv">
        <header>
            <h1>Curriculum Vitae <a target="_blank" class="inset" href="assets/dl/LucasCastro_CV_FED.pdf">PDF</a></h1>
            <blockquote>"Character is higher than intellect. A great soul will be strong to live as well as think." <address>&mdash;Ralph Waldo Emerson</address></blockquote>
        </header>

        <div id="skills-grid">
            <section class="wrap">
                <h2>Skills</h2>
                <div class="skills">
                    <h3>Javascript</h3>
                    <div class="skill-bubbles" aria-hidden="true">
                        <span class="on"></span>
                        <span class="on"></span>
                        <span class="on"></span>
                        <span class="on"></span>
                        <span class="off"></span>
                        <span class="visually-hidden">Advanced</span>
                    </div>

                    <h3>MVC Frameworks</h3>
                    <div class="skill-bubbles" aria-hidden="true">
                        <span class="on"></span>
                        <span class="on"></span>
                        <span class="on"></span>
                        <span class="on"></span>
                        <span class="off"></span>
                        <span class="visually-hidden">Advanced</span>
                    </div>

                    <h3>jQuery + UI</h3>
                    <div class="skill-bubbles" aria-hidden="true">
                        <span class="on"></span>
                        <span class="on"></span>
                        <span class="on"></span>
                        <span class="on"></span>
                        <span class="off"></span>
                        <span class="visually-hidden">Advanced</span>
                    </div>

                    <h3>NoSQL, MySQL</h3>
                    <div class="skill-bubbles" aria-hidden="true">
                        <span class="on"></span>
                        <span class="on"></span>
                        <span class="on"></span>
                        <span class="off"></span>
                        <span class="off"></span>
                        <span class="visually-hidden">Intermediate</span>
                    </div>
                </div>
                <div class="skills">
                    <h3>HTML5</h3>
                    <div class="skill-bubbles" aria-hidden="true">
                        <span class="on"></span>
                        <span class="on"></span>
                        <span class="on"></span>
                        <span class="on"></span>
                        <span class="on"></span>
                        <span class="visually-hidden">Expert</span>
                    </div>

                    <h3>CSS3 + SASS</h3>
                    <div class="skill-bubbles" aria-hidden="true">
                        <span class="on"></span>
                        <span class="on"></span>
                        <span class="on"></span>
                        <span class="on"></span>
                        <span class="on"></span>
                        <span class="visually-hidden">Expert</span>
                    </div>

                    <h3>SVN, Git</h3>
                    <div class="skill-bubbles" aria-hidden="true">
                        <span class="on"></span>
                        <span class="on"></span>
                        <span class="on"></span>
                        <span class="off"></span>
                        <span class="off"></span>
                        <span class="visually-hidden">Intermediate</span>
                    </div>

                    <h3>RESTful API</h3>
                    <div class="skill-bubbles" aria-hidden="true">
                        <span class="on"></span>
                        <span class="on"></span>
                        <span class="on"></span>
                        <span class="off"></span>
                        <span class="off"></span>
                        <span class="visually-hidden">Intermediate</span>
                    </div>
                </div>
                <div class="skills">
                    <h3>Responsive</h3>
                    <div class="skill-bubbles" aria-hidden="true">
                        <span class="on"></span>
                        <span class="on"></span>
                        <span class="on"></span>
                        <span class="on"></span>
                        <span class="on"></span>
                        <span class="visually-hidden">Expert</span>
                    </div>

                    <h3>WCAG AA</h3>
                    <div class="skill-bubbles" aria-hidden="true">
                        <span class="on"></span>
                        <span class="on"></span>
                        <span class="on"></span>
                        <span class="off"></span>
                        <span class="off"></span>
                        <span class="visually-hidden">Intermediate</span>
                    </div>

                    <h3>UX, UI</h3>
                    <div class="skill-bubbles" aria-hidden="true">
                        <span class="on"></span>
                        <span class="on"></span>
                        <span class="on"></span>
                        <span class="off"></span>
                        <span class="off"></span>
                        <span class="visually-hidden">Intermediate</span>
                    </div>

                    <h3>Agile, Scrum</h3>
                    <div class="skill-bubbles" aria-hidden="true">
                        <span class="on"></span>
                        <span class="on"></span>
                        <span class="on"></span>
                        <span class="off"></span>
                        <span class="off"></span>
                        <span class="visually-hidden">Intermediate</span>
                    </div>
                </div>
            </section>
        </div>

        <div id="experience" class="wrap">
            <section>
                <header>
                    <h2>CMT Group</h2>
                    <h3>Senior Front-End Developer <span>May 2016 - Present</span></h3>
                </header>
                <p>I have worked with CMT Group as a Senior Front-End Developer, to build an AngularJS-based application to view and manage data relating to our transportation platform, Arro. That includes data management for trips, passengers, and drivers, as well as call-taking and order creation.</p>
                <p>My duties at CMT Group have included:</p>
                <ul>
                    <li>Building an AngularJS app for data management and visualization.</li>
                    <li>Creating Node.js middleware API for data and user management.</li>
                    <li>Integrating with backend services using RESTful APIs.</li>
                    <li>Generating Lucene queries and JSON-based ElasticSearch queries.</li>
                    <li>Creating and managing build versions using Jira releases and Git tags.</li>
                    <li>Managing deployment via Elastic Beanstalk.</li>
                    <li>Designing key components of the application using Sketch App.</li>
                </ul>

                <ul class="tech">
                    <li>Javascript</li>
                    <li>AngularJS</li>
                    <li>Node.js + Hapi.js</li>
                    <li>Gulp</li>
                    <li>CSS3 + SASS</li>
                    <li>HTML5</li>
                    <li>Git</li>
                    <li>RESTful APIs</li>
                    <li>AWS/Elastic Beanstalk CLI</li>
                    <li>Jira</li>
                    <li>Sketch</li>
                    <li>ElasticSearch</li>
                    <li>JSHint + JSCS</li>
                </ul>

                <aside>
                    <h3>Key Results</h3>
                    <ul>
                        <li>Developed a natural language processing UI for a complex, time sensitive, call-taking process.</li>
                        <li>Updated app infrastructure to a modern, components-based architecture.</li>
                        <li>Improved UX via design audits and on-going design thinking.</li>
                    </ul>
                </aside>
            </section>

            <section>
                <header>
                    <h2>Consulting</h2>
                    <h3>Software Developer <span>Sept. 2015 - May 2016</span></h3>
                </header>
                <p>Worked with an Ottawa-based startup to rebuild a legacy application, using AngularJS, for a Fortune 100 company. My duties included:</p>
                <ul>
                    <li>Building reusable AngularJS components;</li>
                    <li>Creating UI templates using Twitter Bootstrap;</li>
                    <li>Using Grunt to automate build processes;</li>
                    <li>Integrating front-end web services with the back-end, via a RESTful API;</li>
                    <li>Managing a NoSQL database;</li>
                    <li>Testing front-end against client’s requirements.</li>
                </ul>

                <ul class="tech">
                    <li>AngularJS</li>
                    <li>Grunt</li>
                    <li>CSS3 + SASS</li>
                    <li>HTML5</li>
                    <li>Git</li>
                    <li>Bootstrap</li>
                    <li>Terminal/CLI</li>
                    <li>REST</li>
                    <li>Jasmine + Karma</li>
                    <li>JSHint + JSCS</li>
                </ul>

                <aside>
                    <h3>Key Results</h3>
                    <ul>
                        <li>Built an enterprise app UI using AngularJS.</li>
                        <li>Setup Grunt tasks for complex development and build processes.</li>
                        <li>Integrated AngularJS app with a Scala/Java (Play framework) backend.</li>
                        <li>Managed data and events via RESTful calls and Server-Sent Events (SSE)</li>
                        <li>Maintained coding standards using JSHint and JSCS.</li>
                        <li>Setup automated unit testing using Jasmine + Karma.</li>
                    </ul>
                </aside>
            </section>

            <section>
                <header>
                    <h2>bv02</h2>
                    <h3>Full-Stack Developer <span>Aug. 2014 - Sept. 2015</span></h3>
                </header>
                <p>During my time at bv02, I focused on being an exceptional senior developer, and applying my passion for meticulous problem-solving to achieve outstanding results. Beyond back-end and front-end development (in a LAMP stack), my duties included:</p>
                <ul>
                    <li>Architecting solutions (vision, scoping, pricing, and roadmaps);</li>
                    <li>Acting as the tech lead for numerous projects;</li>
                    <li>Organizing and leading a task force for improving internal culture and processes;</li>
                    <li>Leading paired programming sessions with teammates;</li>
                    <li>Assessing opportunities, and pitching solutions to clients;</li>
                    <li>Engaging in regular leadership meetings to discuss vision, values, and processes.</li>
                </ul>

                <ul class="tech">
                    <li>LAMP</li>
                    <li>HTML5</li>
                    <li>CSS3 + SASS</li>
                    <li>Javascript + jQuery</li>
                    <li>Grunt</li>
                    <li>Salesforce</li>
                    <li>SVN</li>
                    <li>Git</li>
                    <li>WordPress + Drupal</li>
                </ul>

                <aside>
                    <h3>Key Results</h3>
                    <ul>
                        <li>Rescued a major project with leadership &amp; vision.</li>
                        <li>Was Tech Lead on 11 projects and products.</li>
                        <li>Completed Accessibility training from WCAG working group expert.</li>
                        <li>Established scope and pricing for 9 projects.</li>
                        <li>Created and maintained a kanban dashboard for managing initiatives.</li>
                        <li>Organized and led internal improvements task force.</li>
                        <li>Conducted 6 recruitment and exit interviews.</li>
                    </ul>
                </aside>
            </section>

            <section>
                <header>
                    <h2>UniForge</h2>
                    <h3>Director, Design &amp; Development <span>Aug. 2010 - Aug. 2014</span></h3>
                </header>
                <p>UniForge gave me an excellent opportunity to establish myself as a senior development professional, leading a team of three to five production staff. My duties included:</p>
                <ul>
                    <li>Defining the technical approach for projects;</li>
                    <li>Co-ordinating and guiding the effort of the team;</li>
                    <li>Mentoring teammates to develop their skills;</li>
                    <li>Staying current with technological and accessibility standards;</li>
                    <li>Implementing tools and processes to increase productivity;</li>
                    <li>Strategizing solutions to clients’ business problems.</li>
                </ul>

                <ul class="tech">
                    <li>LAMP</li>
                    <li>HTML5</li>
                    <li>CSS3 + SASS</li>
                    <li>Javascript + jQuery</li>
                    <li>Adobe Suite</li>
                    <li>Bootstrap</li>
                    <li>Git</li>
                    <li>WordPress + Drupal</li>
                </ul>

                <aside>
                    <h3>Key Results</h3>
                    <ul>
                        <li>Managed the development and production of 2 physical products.</li>
                        <li>Trained and mentored 7 team members on design &amp; development.</li>
                        <li>Established processes for version control, project management, and communications.</li>
                        <li>Defined conventions for design and front-end/back-end  development.</li>
                        <li>Managed over 40 projects for dozens of clients.</li>
                    </ul>
                </aside>
            </section>

            <section>
                <header>
                    <h2>Creative Unity</h2>
                    <h3>Graphic &amp; Web Designer <span>Jul. 2007 - Aug. 2010</span></h3>
                </header>
                <p>Creative Unity provided me with an opportunity for early growth in both the areas of design and development. With continuous practice and refinement of my craft, I was successfully able to create branding and print materials such as logos, letterheads, and brochures; design web sites using Adobe Photoshop; and code websites in Adobe Dreamweaver, using PHP, HTML, CSS, and Javascript.</p>

                <aside>
                    <h3>Key Results</h3>
                    <ul>
                        <li>Learned the basics of layout, an how to work with print;</li>
                        <li>Improved upon my knowledge of web development foundations.</li>
                    </ul>
                </aside>
            </section>

            <section>
                <header>
                    <h2>Canadian Bank Note</h2>
                    <h3>Sales Service Manager <span>Feb. 2008 - Apr. 2009</span></h3>
                </header>
                <p>My first taste of the business world, and first chance to experience the well defined processes of a larger company, was at the Canadian Bank Note Company. As a Sales Service Manager, I was able to coordinate design, pricing, scheduling and approvals between internal departments; act as a liaison between the client and various internal departments; and meet with clients in three continents to establish system requirements, including business rules of ID systems.</p>

                <aside>
                    <h3>Key Results</h3>
                    <ul>
                        <li>Learned to work in a larger, process-driven organization;</li>
                        <li>Learned how to co-ordinate with a plethora of stakeholders.</li>
                    </ul>
                </aside>
            </section>

            <section>
                <header>
                    <h2>OCDSB</h2>
                    <h3>Teaching Assistant <span>Nov. 2005 - May. 2007</span></h3>
                </header>
                <p>During my university years, I worked as a teaching assistant in JK to grade 6 classes. Tutoring children is not only a rewarding experience, but a learning opportunity. It forces you to boil down concepts into the simplest terms possible, to maximize the student’s ability to absorb the content.</p>
                <p>My duties included tutoring children in literacy through assisted reading and discussion, and assessing and reporting on the children’s development.</p>

                <aside>
                    <h3>Key Results</h3>
                    <ul>
                        <li>Learned how to mentor patiently;</li>
                        <li>Learned to assess development.</li>
                    </ul>
                </aside>
            </section>

            <section class="break"><button href="#cvExtra" class="expand iconBtn">+</button></section>

            <div id="cvExtra" class="collapse">
                <section>
                    <h2>Education</h2>

                    <p>B.A., English &mdash; University of Ottawa, 2007.</p>
                    <p>Completed courses in C/C++, Pascal, VBA, and Technical Writing.</p>
                </section>
                <section>
                    <h2>Languages</h2>

                    <p>Fluent in English and Portuguese.</p>
                    <p>Knowledgeable in French and Italian.</p>
                </section>
                <section>
                    <h2>Recent Speaking</h2>

                    <p><em>What is SASS? And Why You Should Be SASSy</em> — Ottawa, 2015</p>
                </section>
                <section>
                    <h2>Volunteering</h2>

                    <p>Mentored at multiple workshops with <em>Ladies Learning Code</em>.</p>
                    <p>Designed websites for <em>Women of Hope</em>, and for <em>Accessibility for Government Online</em>.</p>
                    <p>Volunteered with Games for All at the <em>Ottawa Children's Festival</em>.</p>
                    <p>Donated blood through <em>Canadian Blood Services</em>.</p>
                </section>
                <section>
                    <h2>Favourite Causes</h2>

                    <p>Gender equality (particularly in the tech world).</p>
                    <p>Economic equality.</p>
                    <p>Political reform.</p>
                </section>
            </div>
        </div><!-- .wrap -->
    </article><!-- #cv -->
</main>

<footer id="contact">
    <div class="wrap">
        <section>
            <h2>Let's Be Social</h2>
            <p role="contentinfo" class="social">
                <!--
                <a href="http://instagram.com/LucasUnplugged/" class="inset"><span class="icon-instagram"></span></a>
                -->
                <a href="https://github.com/LucasUnplugged" class="inset"><span class="icon-github"></span>
                </a><a href="http://ca.linkedin.com/in/castrolucas" class="inset"><span class="icon-linkedin"></span>
                </a><a href="http://www.slideshare.net/LucasUnplugged/" class="inset"><span class="icon-slideshare"></span>
                </a><a href="http://dribbble.com/LucasUnplugged" class="inset"><span class="icon-dribbble"></span>
                </a><a href="https://twitter.com/LucasUnplugged" class="inset"><span class="icon-twitter"></span></a>
            </p>
        </section>
        <section>
            <h2>I Don't Bite (Often)</h2>
            <p role="contentinfo">Now that you know my life story, and have no doubt downloaded the compromisingly quirky photo of me for blackmail, <em>The Universe</em> is compelling you to get in touch with me. And it would be rude to say no to <em>The Universe</em>.</p>
        </section>
        <section>
            <h2>Ready to Rock?</h2>
            <p>Send me a note at <a href="mailto:contact@lucasunplugged.com">contact@lucasunplugged.com</a>, or reach me on my social media channels.</p>
        </section>
    </div>

    <section class="copy">&copy; 2013 <a href="http://lucasunplugged.com/">Lucas Castro</a>.</section>
</footer>
