

// FORMS

input[type='text'],
textarea {
	display: inline-block;
	position: relative;
	width: 87%;
	min-width: 150px;
	max-width: 325px;
	margin: 0 0 5px;
	padding: 10px 15px 8px;
	font-size: 17px;
	font-family: $app-font-title;
	color: $app-color-text;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .85);
	background: $app-color-box;
	//box-shadow: 0 2px 0 1px #3f3f3f inset;
	border: none;
	border-top: 2px solid rgba(0, 0, 0, .85);
	border-bottom: 1px solid rgba(255, 255, 255, .35);
	@include border-radius();
}

label,
input[type=button],
input[type=submit],
button {
	cursor: pointer;
}
input,
button {
	font-family: $app-font-title;
}

form {
	input[type=submit],
	input[type=button] {
		margin-right: 0;
	}

	.messageBox {
		float: left;
		padding: $app-box-pad/2 0;
	}
	.success {
		color: $app-color-success;
	}
	.fail {
		color: $app-color-alert;
	}
}



// BUTTONS

button,
input[type=submit],
input[type=button],
.btn {
	@include btn;
}

.iconBtn {
	line-height: .5;
	font-size: $app-h1;
	font-weight: 700;
}

div.collapse {
	display: none;
}
div.expand {
	display: block;
}

.inset {
	display: inline-block;
	height: 1.8rem;
	margin: 0;
	padding: $app-box-pad/6;
	line-height: 12px;
	font-size: $app-p * .5;
	vertical-align: middle;
	text-align: center;
	border: 1px solid $app-color-link;
	@include border-radius;

	@include media ($app-tablet) {
		height: 1.5rem;
	}

	h1 &,
	h2 &,
	h3 & {
		position: relative;
		right: -10px;
		top: -2px;

		@include media ($app-mobile) {
			right: -30px;
		}
	}

	&:hover {
		color: $app-color-white;
		background: $app-color-link;
		text-decoration: none;
	}

	footer .social & {
		height: 3.05rem;
		margin: 0 $app-box-pad/4 0 0;
		padding: $app-box-pad/3;
		line-height: 15px;
		color: $app-color-alt;
		font-size: $app-p;
		border-color: $app-color-alt;

		&:hover {
			color: $app-color-text;
			background: $app-color-alt;
		}

		@include media ($app-tablet) {
			height: 2.77rem;
		}
	}
}


// OTHER
.dropzone {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100%;
	min-height: 300px;
	padding: $app-box-pad;
	text-align: center;
	border: 2px dashed $app-color-main;
	@include border-radius;
	cursor: pointer;

	&:hover,
	&:focus,
	&:active,
	&.active {
		color: $app-color-white;
		text-decoration: none;
		background: $app-color-main;
		border-style: solid;
	}
}

.upload-preview {
	display: none;
}

// Loading
.loading,
.loading:before,
.loading:after {
	border-radius: 50%;
}

.loading:before,
.loading:after {
	position: absolute;
	content: '';
}

.loading:before {
	width: 5.2em;
	height: 10.2em;
	border-radius: 10.2em 0 0 10.2em;
	top: -.1em;
	left: -.1em;
	-webkit-transform-origin: 5.2em 5.1em;
	        transform-origin: 5.2em 5.1em;
	-webkit-animation: load2 2s infinite ease 1.5s;
	        animation: load2 2s infinite ease 1.5s;
}

.loading {
	font-size: 11px;
	text-indent: -99999em;
	margin: 55px auto;
	position: relative;
	width: 10em;
	height: 10em;
	-webkit-transform: translateZ(0);
	    -ms-transform: translateZ(0);
	        transform: translateZ(0);
}

.loading:after {
	width: 5.2em;
	height: 10.2em;
	border-radius: 0 10.2em 10.2em 0;
	top: -.1em;
	left: 5.1em;
	-webkit-transform-origin: 0 5.1em;
	        transform-origin: 0 5.1em;
	-webkit-animation: load2 2s infinite ease;
	        animation: load2 2s infinite ease;
}

.loading:before,
.loading:after {
	&.dark,
	.dark & {
		background: $app-color-text;
	}
	&.medium,
	.medium & {
		background: $app-color-box;
	}
	&.light,
	.light & {
		background: $app-color-white;
	}
}

.loading {
	box-shadow: inset 0 0 0 1em $app-color-main;

	&.dark,
	.dark & {
		box-shadow: inset 0 0 0 1em $app-color-text-light;
	}
}

@-webkit-keyframes load2 {
	0% {
		-webkit-transform: rotate(0deg);
		        transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		        transform: rotate(360deg);
	}
}

@keyframes load2 {
	0% {
		-webkit-transform: rotate(0deg);
		        transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		        transform: rotate(360deg);
	}
}
