.wrap {
	@include outer-container;
	position: relative;
	padding-left: $app-box-pad/2;
	padding-right: $app-box-pad/2;

	@include media($app-tablet) {
		padding: 0;
	}
}

.intro {
	padding-top: $app-box-pad * 5;

	@include media( $app-tablet ) {
		padding-top: $app-box-pad * 7;
	}

	@include media( $app-laptop ) {
		padding-top: $app-box-pad * 5;
	}
}

article,
header,
main,
main > section,
footer {
	&.dark,
	.dark {
		color: $app-color-text-light;
		background-color: $app-color-text;
	}
	&.medium,
	.medium {
		background-color: $app-color-box;
	}
	&.light,
	.light {
		background-color: $app-color-white;
	}
}

article,
header,
main > section,
footer {
	> section,
	> article {
		@extend .wrap;
	}
}

article {
	> header {
		@extend .wrap;
	}
}

section.break {
	display: block;
	clear: both;
	width: 100% !important;
	padding: 0 !important;
	margin: $app-pad*2 0 !important;
	text-align: center;

	button {
		min-width: 50px;
		margin: 0;
	}

	@include media ($app-mobile) {
		&::before,
		&::after {
			content: '';
			display: inline-block;
			position: relative;
			top: -3px;
			width: 30%;
			height: 1px;
			margin: 0 $app-box-pad;
			background: $app-color-box;
		}

		&::before {
			margin-left: 0;
		}
		&::after {
			margin-right: 0;
		}
	}
}

// HEADER
#bg {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100vh;
	text-align: center;
	background: $app-color-text url('../img/portfolio/bg01_dark.jpg') no-repeat center center;
	background-size: cover;

	> section {
		@extend .wrap;
		height: 97vh;
		margin-top: 3vh;

		@include media($app-tablet) {
			max-height: 95vh;
			margin-top: 5vh;
		}

		@include media($app-desktop) {
			&:before {
				content: '';
				display: inline-block;
				position: absolute;
				left: -160px;
				bottom: 0;
				width: 392px;
				height: 571px;
				max-height: 75vh;
				background: url('../img/portfolio/lc01.png') top center no-repeat;
			}
		}
	}
}

header[role='banner'] {
	@extend .dark;
	position: fixed;
	top: 0;
	width: 100%;
	background: none;
	z-index: 1000;



	&.overlay {
		padding-bottom: 7px;
		background: rgba(48, 48, 48, .88);

		@include media($app-laptop) {
			padding-bottom: 0;
		}

		nav {
			margin: 0;

			&,
			.logo {
				font-size: $app-feature-p;
			}
		}

		.logo {
			display: none;

			@include media($app-laptop) {
				display: block;
			}
		}
	}

	> section {
		@extend .wrap;
	}

	// NAVIGATION
	nav {
		position: relative;
		margin: $app-box-pad/2 0;
		font-family: $app-font-title;

		@include media($app-tablet) {
			margin: $app-box-pad 0;
		}

		&,
		.logo {
			font-size: $app-h1;
			@include transition(all .5s);
		}

		a {
			display: inline-block;
			padding: ($app-box-pad/6) ($app-box-pad/4);

			@include media($app-tablet) {
				padding: ($app-box-pad/3) ($app-box-pad/2);
			}
		}

		ul {
			display: block;
			padding: 0;
			margin: 0;
			text-align: center;
		}

		li {
			display: inline-block;
			padding: 0;

			&::before {
				content: '';
			}
		}

		.logo {
			position: absolute;
			left: 0;
			top: 0;
			margin: 0;
			line-height: $app-line-height;
			text-transform: uppercase;

			@include media($app-oldschool) {
				position: relative;
				text-align: center;
			}

			a {
				color: $app-color-white;

				@include media($app-desktop) {
					padding-left: 0;
				}

				&:hover,
				&:focus {
					color: $app-color-alt;
				}
			}
		}
	}
}


// MAIN
main {
	> article > div,
	> article,
	> section,
	> article > section {
		padding: $app-box-pad*2 0;

		&.dark,
		&.medium,
		&.light {
			padding-left: $app-box-pad/2;
			padding-right: $app-box-pad/2;

			@include media($app-desktop) {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}

	header {
		text-align: center;
	}
}

#blurb {
	padding: 0;
	margin-top: 220px;
	margin-bottom: $app-box-pad*2;

	@include media($app-mobile) {
		@include span-columns(2);
		@include shift(0);
	}
	@include media($app-tablet) {
		@include span-columns(4);
		@include shift(1);
		margin-top: 230px;
	}
	@include media($app-laptop) {
		@include span-columns(8);
		@include shift(2);
	}
	@include media($app-desktop) {
		@include span-columns(6);
		@include shift(3);
	}

	h1 {
		margin-bottom: $app-pad*0.75;
		font-size: $app-feature-h1;
		text-align: center;
	}

	.body {
		text-align: left;
	}
}

#results {
	text-align: center;

	> section {
		text-align: center;
		max-width: 900px;
		padding: 0 0 3rem;
		margin: 0 0 3rem;
		border-bottom: 3px solid $app-color-white;

		&:last-child {
			border: none;
			padding-bottom: 0;
			margin-bottom: 0;
		}

		@include media ($app-tablet) {
			margin: 0 auto 3rem;
		}

		div,
		h2 {
			display: inline-block;
			width: 100%;
			max-width: 360px;
			padding: 0 2%;
			margin: 0 auto 3rem;
			vertical-align: text-top;
			line-height: $app-line-height*0.9;
			font-size: $app-feature-p*0.775;
			font-weight: 300;

			&:last-child {
				margin-bottom: .5rem;
			}

			&:nth-child(3n-2) {
				color: $app-color-main;
			}
			&:nth-child(3n-1) {
				color: $app-color-alt-dark;

				&:before {
					color: $app-color-alt;
				}
			}
			&:nth-child(3n) {
				color: $app-color-text;
			}

			@include media($app-mobile) {
				width: 48%;
			}
			@include media($app-tablet) {
				width: 32%;
				margin: 0;
			}
		}

		&.wide {
			max-width: 1200px;

			div,
			h2 {
				position: relative;
				max-width: 500px;
				padding: 0 0 0 140px;
				text-align: left;
				line-height: $app-line-height * .65;
				font-size: $app-feature-h1 * .68;

				&:nth-child(3n) {
					color: $app-color-main;
				}
				&:nth-child(3n-2) {
					color: $app-color-alt-dark;

					&:before,
					span {
						color: $app-color-alt;
					}
				}
				&:nth-child(3n-1) {
					color: $app-color-text;
				}

				span {
					display: inline-block;
					position: absolute;
					right: 100%;
					margin-right: -120px;
					line-height: 6rem;
					font-size: $app-feature-h1 * 2.75;
					font-weight: 700;
				}

				@include media($app-mobile) {
					width: 100%;
					// max-width: 768px;
					line-height: $app-line-height * .65;
					font-size: $app-feature-h1 * .7;
					padding-left: 180px;

					span {
						margin-right: -160px;
						line-height: 7rem;
						font-size: $app-feature-h1 * 3;
					}
				}

				@include media($app-tablet) {
					width: 48%;
					margin: 3rem auto 0;
					// line-height: $app-line-height * 0.65;
					font-size: $app-feature-h1 * .75;

					&:nth-child(1),
					&:nth-child(2) {
						margin-top: 0;
					}

					span {
						line-height: 7rem;
						font-size: $app-feature-h1 * 3.1;
					}
				}
			}
		}
		&.narrow {
			max-width: 900px;

			div,
			h2 {
				@include media($app-mobile) {
					width: 48%;
				}

				@include media($app-tablet) {
					// width: 32%;
					// margin-bottom: 3rem;

					// &:last-child {
					// 	margin-bottom: 0;
					// }
				}

				@include media($app-tablet) {
					width: 24%;
				}
			}
		}
	}

	[class^='icon-']:before {
		display: block;
		margin: 0 auto 1.5rem;
		font-size: 5.5rem;

		@include media($app-tablet) {
			font-size: 7rem;
		}
	}

	[class^='icon--']:before {
		margin-bottom: $app-box-pad/2;
		line-height: $app-line-height/1.417;
		font-size: 175%;

		@include media($app-tablet) {
			font-size: 200%;
		}
	}
}


#cv {
	padding: 0;

	> header {
		padding: $app-box-pad*2 0;

		blockquote:last-child {
			max-width: 640px;
			margin: 0 auto;
		}
	}

	section {
		h2 {
			margin-top: 0;
			margin-bottom: $app-box-pad /3;
			color: $app-color-main;
			font-weight: 700;
			text-transform: uppercase;
		}
	}

	.skills {
		display: inline-block;
		width: 100%;
		margin-bottom: $app-box-pad /2;

		@include media ($app-mobile) {
			width: 45%;
			margin-bottom: $app-box-pad;
		}
		@include media ($app-tablet) {
			width: 30%;
			margin-bottom: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}

		h3 {
			margin: 0 0 10px;
			text-align: left;

			span {
				&:first-child {
					display: inline-block;
					width: 52%;
					padding: 0 $app-box-pad/2 0 0;
					color: $app-color-black;
					font-size: $app-feature-p * .75;
					font-weight: 500;
					text-align: right;
				}

				&.on,
				&.off {
					display: inline-block;
					width: 14px;
					height: 14px;
					margin: 3px 2px;
					padding: 0;
					line-height: 100px;
					vertical-align: text-bottom;
					color: $app-color-main;
					background: $app-color-main;
					box-shadow: 0 2px 0 0 $app-color-main-dark inset;
					border-bottom: 1px solid $app-color-white;
					overflow: hidden;
					@include border-radius(20px);
				}

				&.off {
					background: $app-color-box-dark;
					box-shadow: 0 2px 0 0 $app-color-text-medium inset;
				}
			}
		}
	}



	#skillsGrid {
		@extend .medium;
		display: flex;
		padding: $app-box-pad 0;
		text-align: center;

		.wrap {
			width: 100%;
		}

		h2 {
			margin-bottom: $app-pad;
			color: $app-color-text;
		}
	}


	#experience {
		padding: $app-box-pad*2 $app-box-pad/2;

		@include media($app-desktop) {
			padding-left: 0;
			padding-right: 0;
		}

		> section {
			position: relative;
			margin-top: $app-box-pad*2.5;
			font-size: $app-p*0.85;

			&:first-child {
				margin-top: 0;
			}

			@include media ($app-tablet) {
				width: 60%;
				padding-right: $app-box-pad;
				box-sizing: border-box;

				aside {
					position: absolute;
					right: -66.6666667%;
					top: 0;
					width: 66.6666667%;
				}
			}
			@include media ($app-laptop) {
				width: 66%;
				font-size: $app-p;

				aside {
					right: -50%;
					width: 50%;
				}
			}

			header {
				text-align: left;
			}

			header,
			aside {
				h3 {
					margin-top: 0;

					span {
						display: block;
						margin: $app-box-pad/5 0 0;
						color: $app-color-text-medium;
						font-weight: 300;
						font-size: $app-p;

						@include media ($app-tablet) {
							float: right;
							margin: 0;
						}
					}
				}
			}

			aside {
				padding: $app-box-pad;
				background: $app-color-box;

				@include media ($app-tablet) {
					padding-top: 40px;
				}

				h3 {
					color: $app-color-text-medium;
				}

				ul {
					padding: 0;
					margin: 0;
					font-size: $app-p *.8;
				}
			}

			> ul {
				padding-bottom: $app-box-pad/3;

				@include media ($app-mobile) {
					@include columns (2);
				}
			}

			ul.tech {
				@include clearfix;
				@include columns (1);
				display: inline-block;
				position: relative;
				clear: both;
				width: 90%;
				padding: 4px 0;
				margin: $app-pad/2 0 $app-pad $app-box-pad;
				color: $app-color-text-medium;
				border-top: 1px solid $app-color-box;
				border-bottom: 1px solid $app-color-box;

				&::before {
					@include transform(rotateZ(-90deg));
					content: 'Tech';
					position: absolute;
					left: ($app-box-pad * (-1)) - 16;
					top: 50%;
					line-height: 1;
					margin-top: -11px;
					font-weight: 700;
					font-family: $app-font-title;
					text-transform: uppercase;
				}

				li {
					display: inline-block;
					float: left;
					padding: 0;
					margin: 2px $app-box-pad/2;
					font-size: $app-p *.8;

					&::before {
						content: '';
					}
				}
			}
		}
	}


	#cvExtra {
		> section {
			padding-top: $app-pad*2;

			&:first-child {
				padding-top: 0;
			}

			p {
				margin: $app-pad/2 0 0;
			}
		}
	}
} // #cv


footer {
	@extend .dark;
	padding: $app-box-pad*2 $app-box-pad/2 $app-box-pad;

	@include media ($app-desktop) {
		padding-left: 0;
		padding-right: 0;
	}

	h2 {
		margin: 0 0 $app-pad/2;
	}

	.wrap > section {
		margin-bottom: $app-pad*2;

		@include media($app-mobile) {
			@include span-columns(2);
		}
		@include media ($app-tablet) {
			@include span-columns (6);
		}
		@include media ($app-laptop) {
			@include span-columns (4);
			margin-bottom: 0;

			&:last-child {
				text-align: right;
			}
		}
	}

	.copy {
		text-align: right;
	}
}
