<header role="banner">
	<section>
		<nav class="group">
			<h2 class="logo"><a href="/">Lucas<span class="thin">Castro</span></a></h2>
			<ul>
				<li><a href="#intro">Intro</a></li>
				<li><a href="#demo">Demo</a></li>
				<li><a href="#gallery">Gallery</a></li>
			</ul>
		</nav>
	</section>
</header>

<!-- Main Content -->
<main role="main">
	<section id="intro" class="intro dark">
		<article>
			<header>
				<h1>{{ wistiaVM.title }}</h1>
			</header>
			<p>{{ wistiaVM.intro }}</p>
		</article>
	</section>

	<section id="demo" class="medium">
		<article>
			<header>
				<h1>Try Me!</h1>
			</header>
			<p>Upload a file using the drop-zone below. Uploaded videos will be automatically displayed in the gallery below, once they're successfully processed by Wistia.</p>

			<drop-zone
				show-loading="wistiaVM.uploading"
				config="wistiaVM.dropzoneConfig"></drop-zone>

			<!-- API-related Notifications -->
			<section class="notifications-wrapper"
				ng-show="wistiaVM.requestCompleted">

				<div class="notifications-popup">
					<em
						ng-show="wistiaVM.requestCompleted"
						ng-bind="wistiaVM.uploadMessage"></em>

					<em
						ng-show="wistiaVM.failMessage"
						ng-bind="wistiaVM.failMessage"></em>

					<ul ng-show="wistiaVM.failedUploads.length > 0">
						<li ng-repeat="error in wistiaVM.failedUploads track by $index">{{ error }}</li>
					</ul>
				</div>
			</section>
		</article>
	</section>

	<section id="gallery" class="light">
		<article>
			<header>
				<h1>Video Gallery</h1>
			</header>

			<ul class="gallery">
				<!-- Queued Up Videos -->
				<li ng-repeat="item in wistiaVM.videoQueue">
					<div class="item center">
						<div class="loading">&nbsp;</div>
					</div>
					<h2>Processing...</h2>
				</li>

				<!-- Processed Videos -->
				<li ng-repeat="video in wistiaVM.uploads | toArray | orderBy:'date':true">
					<div id="{{ video.id }}" class="item wistia_embed wistia_async_{{ video.id }} popover=true popoverAnimateThumbnail=true">&nbsp;</div>
					<h2>{{ video.name }}</h2>
				</li>
				<li ng-show="!wistiaVM.hasUploads()">No videos have been uploaded. Please add some above.</li>
			</ul>
		</article>
	</section>
</main>

<footer id="contact">
	<div class="wrap">
		<section>
			<h2>Let's Be Social</h2>
			<p role="contentinfo" class="social">
				<!--
				<a href="http://instagram.com/LucasUnplugged/" class="inset"><span class="icon-instagram"></span></a>
				-->
				<a href="https://github.com/LucasUnplugged" class="inset"><span class="icon-github"></span></a>
				<a href="http://ca.linkedin.com/in/castrolucas" class="inset"><span class="icon-linkedin"></span></a>
				<a href="http://www.slideshare.net/LucasUnplugged/" class="inset"><span class="icon-slideshare"></span></a>
				<a href="http://dribbble.com/LucasUnplugged" class="inset"><span class="icon-dribbble"></span></a>
				<a href="https://twitter.com/LucasUnplugged" class="inset"><span class="icon-twitter"></span></a>
			</p>
		</section>
		<section>
			<h2>I Don't Bite (Often)</h2>
			<p>Thanks for checking out my work. Check out my <a href="http://lucasunplugged.com">personal site</a> to learn more about me, or connect with me use one of the links in this footer.</p>
		</section>
		<section>
			<h2>Get in touch</h2>
			<p>Send me a note at <a href="mailto:contact@lucasunplugged.com">contact@lucasunplugged.com</a>, or reach me on my social media channels.</p>
		</section>
	</div>

	<section class="copy">&copy; 2013 <a href="http://lucasunplugged.com/">Lucas Castro</a>.</section>
</footer>
