/* This site was styled using SASS/SCSS. The original file can be found in at /css/style.scss

/* GLOBAL *********/
* { -moz-transition: all 0.75s; -webkit-transition: all 0.75s; -o-transition: all 0.75s; transition: all 0.75s; }

html { -webkit-font-smoothing: antialiased; overflow-y: scroll; }

body { margin: 0; padding: 0; font-family: "proxima-nova",sans-serif; font-style: normal; font-weight: 400; font-size: 1.25em; line-height: 1.625em; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.85); color: #3F3F3F; background: white url("../img/bg_white.png") repeat 0 0; }

img, object, video { max-width: 100%; border: none; }
.ie7 img, .ie7 object, .ie7 video { -ms-interpolation-mode: bicubic; }

input:invalid { border: none; border-right: 12px solid #ef3000; }

/* TYPOGRAPHY *********/
::-moz-selection { background: #BB3A6A !important; color: #fff !important; text-shadow: none; }

::selection { background: #BB3A6A !important; color: #fff !important; text-shadow: none; }

a { color: #BB3A6A; text-decoration: none; }

a:hover { color: #B7BB65; }

h1, h2, h3, h4, h5, h6, p, ul, li, blockquote, br, caption, div, fieldset, figcaption, figure, hr, ol, output, pre, tbody, input, textarea, tfoot { margin-top: 0; margin-bottom: 0; }

h1 { line-height: 1.2em; letter-spacing: 0.5px; }

h2 { line-height: 1.2em; letter-spacing: 0.5px; }

h3 { line-height: 1.2em; letter-spacing: 0.5px; }

h4 { line-height: 1.2em; letter-spacing: 0.5px; }

h5 { line-height: 1.2em; letter-spacing: 0.5px; }

h6 { line-height: 1.2em; letter-spacing: 0.5px; }

/*article, aside, col, colgroup, dd, dl, dt, embed, footer, form, h1–6, header, map, object, progress, section, table, th, thead, tr, video { }*/
p, ul, ol { padding: 0 0 26.31579px; }

ul, ol { margin: 0 0 0 46.66667px; }
ul.flush, ol.flush { margin-left: 23.33333px; }

li { margin: 0; padding: 0 0 5.38462px 15.55556px; }

h1, h2 { padding: 0 0 28px; font-size: 4.125em; font-weight: 700; font-family: "ratio-display","proxima-nova",sans-serif; }

h2 { font-size: 1.75em; }

h3, h4 { padding: 18.66667px 0 25.45455px; font-size: 1.5em; font-weight: 700; }

h4 { padding: 18.66667px 0 7px; font-size: 1.25em; color: #7F7F7F; }

address { display: inline-block; font-style: normal; }

.thin, blockquote { font-weight: 300 !important; }

blockquote { font-size: 1.875em; line-height: 1.25em; font-family: "ratio-display","proxima-nova",sans-serif; letter-spacing: 0.4px; word-spacing: 3px; }
blockquote address { font-weight: 700; }

pre { padding: 15px; white-space: pre; white-space: pre-wrap; white-space: pre-line; word-wrap: break-word; }

/* GRID *********/
.grid1, .grid2, .grid3, .grid4, .grid5, .skills h3 .label, .grid6, .grid7, .grid8, .grid9, .grid10, .grid11, .grid12 { display: block; float: left; margin: 0; padding: 0; }

.grid1 { width: 6.25%; }

.marginRL1 { margin-right: 6.25%; margin-left: 6.25%; }

.marginR1 { margin-right: 6.25%; }

.marginL1 { margin-left: 6.25%; }

.grid2 { width: 14.58333%; }

.marginRL2 { margin-right: 14.58333%; margin-left: 14.58333%; }

.marginR2 { margin-right: 14.58333%; }

.marginL2 { margin-left: 14.58333%; }

.grid3 { width: 22.91667%; }

.marginRL3 { margin-right: 22.91667%; margin-left: 22.91667%; }

.marginR3 { margin-right: 22.91667%; }

.marginL3 { margin-left: 22.91667%; }

.grid4 { width: 31.25%; }

.marginRL4 { margin-right: 31.25%; margin-left: 31.25%; }

.marginR4 { margin-right: 31.25%; }

.marginL4 { margin-left: 31.25%; }

.grid5, .skills h3 .label { width: 39.58333%; }

.marginRL5 { margin-right: 39.58333%; margin-left: 39.58333%; }

.marginR5 { margin-right: 39.58333%; }

.marginL5 { margin-left: 39.58333%; }

.grid6 { width: 47.91667%; }

.marginRL6 { margin-right: 47.91667%; margin-left: 47.91667%; }

.marginR6 { margin-right: 47.91667%; }

.marginL6 { margin-left: 47.91667%; }

.grid7 { width: 56.25%; }

.marginRL7 { margin-right: 56.25%; margin-left: 56.25%; }

.marginR7 { margin-right: 56.25%; }

.marginL7 { margin-left: 56.25%; }

.grid8 { width: 64.58333%; }

.marginRL8 { margin-right: 64.58333%; margin-left: 64.58333%; }

.marginR8 { margin-right: 64.58333%; }

.marginL8 { margin-left: 64.58333%; }

.grid9 { width: 72.91667%; }

.grid10 { width: 81.25%; }

.grid11 { width: 89.58333%; }

.grid12 { width: 97.91667%; }

/* HEADER + NAVIGATION *********/
header[role="banner"] h1#logo, header[role="banner"] address, nav[role="navigation"] > ul, nav[role="navigation"] > ul > li { display: inline-block; position: relative; float: left; margin: 0; padding: 0; }

header[role="banner"] { display: block; position: fixed; left: 0; top: 0; width: 100%; background: rgba(0, 0, 0, 0.8); z-index: 1000; }
header[role="banner"] h1#logo { float: left; font-size: 16px; opacity: 0; }
header[role="banner"] h1#logo a { display: inline-block; margin: 0; padding: 11px 30px 10px; color: #CDD255; }
header[role="banner"] h1#logo a .thin { color: #E6E6E6; }
header[role="banner"] a { height: 20px; margin: 7px 2px; padding: 10px 18px; border-radius: 25px; -webkit-border-radius: 25px; -moz-border-radius: 25px; -o-border-radius: 25px; }
header[role="banner"] .wrap { line-height: 1px; }

nav[role="navigation"] { display: inline-block; float: right; padding: 0 20px; }
nav[role="navigation"] > ul > li { list-style: none; }
nav[role="navigation"] > ul > li a { display: inline-block; font-size: 13px; height: 1.1em; line-height: 1.1em; padding: 0.5em 0.85em; color: #fff; }
nav[role="navigation"] > ul > li a:target, nav[role="navigation"] > ul > li a:hover { color: #E464A0; background: #000; background: rgba(0, 0, 0, 0.75); }

/* MAIN *********/
.wrap { display: block; position: relative; max-width: 1440px; margin: 0 auto; }

article { display: block; position: relative; width: 100%; padding: 0 0 70px; }
article header { padding-top: 70px; padding-bottom: 28px; }
article header { position: relative; overflow: hidden; }
article .banner header, article #me .overlay header, #me article .overlay header, article #you .overlay header, #you article .overlay header { padding-bottom: 21px; }
article.top header { padding-top: 120px; }
article.top header h1 { font-size: 3.50625em; }

.banner, #me .overlay, #you .overlay, .slide { height: auto; }

.banner, #me .overlay, #you .overlay { display: block; position: relative; margin: 0; padding: 0; background-position: center top; overflow: hidden; }
.banner header, #me .overlay header, #you .overlay header { display: inline-block; width: 100%; letter-spacing: -0.5px; white-space: nowrap; }
.banner header h1, #me .overlay header h1, #you .overlay header h1 { height: 1em; color: #CDD255; text-shadow: 0px -1px 0 #eaef6c, 0px 1px 2px rgba(88, 91, 20, 0.8); color: #8E284E; text-shadow: 0 -1px 0 #351520, 0 1px 0 rgba(255, 255, 255, 0.75); }
.banner header h1 .titleLeft, #me .overlay header h1 .titleLeft, #you .overlay header h1 .titleLeft { position: relative; top: -2px; text-align: right; }
.banner header em, #me .overlay header em, #you .overlay header em { margin: 0px 0.6em 0.1em 0.2em; padding: 3.1% 3.5% 3.8% 2.8%; font-size: 0.6em; line-height: 0.55em; min-width: 4.15%; display: inline-block; color: #fff; font-family: "nouvelle-vague",sans-serif; font-style: normal; font-weight: 400; text-shadow: none; vertical-align: middle; background: #858585; background-image: -ms-linear-gradient(top, #999999 0, #555555 1); background-image: -moz-linear-gradient(top, #999999 0, #555555 1); background-image: -o-linear-gradient(top, #999999 0, #555555 1); background-image: -webkit-linear-gradient(top, #999999 0, #555555 1); background-image: linear-gradient(to bottom, #999999 0%, #555555 100%); background-image: -webkit-gradient(linear, top right, bottom right, color-stop(0, #999999), color-stop(1, #555555)); border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%; -o-border-radius: 50%; border-top: 2px solid #555; border-bottom: 2px solid rgba(255, 255, 255, 0.85); }
.banner header em.large, #me .overlay header em.large, #you .overlay header em.large { padding: 4.1% 2.7% 4.8% 2%; font-size: 0.4em; min-width: 5%; min-height: 0.55em; }
.banner header .thin, #me .overlay header .thin, #you .overlay header .thin { color: #BB3A6A; text-shadow: 0 -1px 0 #752141, 0 1px 0 rgba(255, 255, 255, 0.5); }

#me .overlay, #you .overlay { position: absolute; left: 0; top: 0; width: 100%; height: 100%; }

#me { background: white url("../img/bg_aboutme.jpg") center top no-repeat; }
#me .overlay { background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 51%); background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 51%); background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 51%); background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 51%); background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 51%); background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(255, 255, 255, 0)), color-stop(0.51, rgba(255, 255, 255, 0.8))); }

#you { background: #3e292e url("../img/bg_aboutyou_tall.jpg") center top repeat-y; }
#you .overlay { background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 51%); background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 51%); background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 51%); background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 51%); background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 51%); background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(0, 0, 0, 0)), color-stop(0.51, rgba(0, 0, 0, 0.7))); }
#you.banner .slide header h1, #me #you.overlay .slide header h1, #you #you.overlay .slide header h1 { color: #BB3A6A; text-shadow: 0px -1px 0px #e464a0, 0px 1px 0px rgba(0, 0, 0, 0.75); }
#you.banner .slide header h1 .thin, #me #you.overlay .slide header h1 .thin, #you #you.overlay .slide header h1 .thin { color: #BB3A6A; text-shadow: 0px -1px 0px #e464a0, 0px 1px 0px rgba(0, 0, 0, 0.75); }

.dark { color: #cEcEcE; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.85); }
.dark header em { background: #525252; background-image: -ms-linear-gradient(top, #666666 0, #333333 1); background-image: -moz-linear-gradient(top, #666666 0, #333333 1); background-image: -o-linear-gradient(top, #666666 0, #333333 1); background-image: -webkit-linear-gradient(top, #666666 0, #333333 1); background-image: linear-gradient(to bottom, #666666 0%, #333333 100%); background-image: -webkit-gradient(linear, top right, bottom right, color-stop(0, #666666), color-stop(1, #333333)); border-top: 2px solid #111; border-bottom: 2px solid rgba(255, 255, 255, 0.15); }
.dark h1, .dark h2, .dark h3 { color: #fff; }

#cv section { display: inline-block; width: 100%; padding-bottom: 1.5em; }
#cv h2 { color: #BB3A6A; }

header .grey, article .grey, section .grey { background: #f3f3f3 url("../img/bg_grey.png") repeat left top; }
#cv .grey h2 { font-size: 2.35714em; color: #3F3F3F; }

div[role="main"] .wrap aside { text-align: right; }
div[role="main"] .wrap aside h3, div[role="main"] .wrap aside h4, div[role="main"] .wrap aside p { padding: 0 0 0.5em; }
div[role="main"] .wrap aside p { color: #7F7F7F; }

#cvExtra { display: inline-block; overflow: hidden; }

.skills h3 { padding: 0.4em 6px 0.4em 0; font-size: 1.0em; font-weight: 300; text-align: left; }
.skills h3 .label { display: inline-block; padding-right: 12px; text-align: right; white-space: nowrap; }
.skills h3 .on, .skills h3 .off { display: inline-block; width: 1.15em; height: 1.15em; margin: 0px 0px 0px 0.20em; padding: 0; line-height: 100px; vertical-align: text-bottom; color: #BB3A6A; background: #BB3A6A; box-shadow: 0 2px 0 0 #752141 inset; border-bottom: 1px solid #fff; overflow: hidden; border-radius: 12px; -webkit-border-radius: 12px; -moz-border-radius: 12px; -o-border-radius: 12px; }
.skills h3 .off { background: #ddd; box-shadow: 0 2px 0 0 #888 inset; }

/* PORTFOLIO *********/
#portfolioBox { max-width: 940px; max-height: 520px; margin: 11.66667px auto 70px; padding: 0; overflow: hidden; text-align: center; border: 10px solid #ddd; }
#portfolioBox a { display: inline-block; max-width: 100%; line-height: 1px; }
#portfolioBox a img, #portfolioBox a object, #portfolioBox a video { max-width: 100%; }

/* SLIDER *********/
.slide { display: inline-block; position: relative; float: left; width: 100%; }

.slide .photo, .banner .slide .photo img, #me .overlay .slide .photo img, #you .overlay .slide .photo img, .banner .slide .photo object, #me .overlay .slide .photo object, #you .overlay .slide .photo object, .banner .slide .photo video, #me .overlay .slide .photo video, #you .overlay .slide .photo video { position: absolute; left: 0; bottom: 0; overflow: visible; }
.banner .slide .photo img, #me .overlay .slide .photo img, #you .overlay .slide .photo img, #me .overlay .banner .slide .photo img img, .banner #me .overlay .slide .photo img img, #you .overlay .banner .slide .photo img img, .banner #you .overlay .slide .photo img img, .banner #me .overlay .slide .photo img img, #me .overlay .banner .slide .photo img img, #me .overlay .slide .photo img img, #you #me .overlay .slide .photo img img, #me #you .overlay .slide .photo img img, .banner #you .overlay .slide .photo img img, #you .overlay .banner .slide .photo img img, #me #you .overlay .slide .photo img img, #you #me .overlay .slide .photo img img, #you .overlay .slide .photo img img, .banner .slide .photo object img, #me .overlay .banner .slide .photo object img, .banner #me .overlay .slide .photo object img, #you .overlay .banner .slide .photo object img, .banner #you .overlay .slide .photo object img, .banner #me .overlay .slide .photo object img, #me .overlay .banner .slide .photo object img, #me .overlay .slide .photo object img, #you #me .overlay .slide .photo object img, #me #you .overlay .slide .photo object img, .banner #you .overlay .slide .photo object img, #you .overlay .banner .slide .photo object img, #me #you .overlay .slide .photo object img, #you #me .overlay .slide .photo object img, #you .overlay .slide .photo object img, .banner .slide .photo video img, #me .overlay .banner .slide .photo video img, .banner #me .overlay .slide .photo video img, #you .overlay .banner .slide .photo video img, .banner #you .overlay .slide .photo video img, .banner #me .overlay .slide .photo video img, #me .overlay .banner .slide .photo video img, #me .overlay .slide .photo video img, #you #me .overlay .slide .photo video img, #me #you .overlay .slide .photo video img, .banner #you .overlay .slide .photo video img, #you .overlay .banner .slide .photo video img, #me #you .overlay .slide .photo video img, #you #me .overlay .slide .photo video img, #you .overlay .slide .photo video img, .banner .slide .photo object, #me .overlay .slide .photo object, #you .overlay .slide .photo object, .banner .slide .photo img object, #me .overlay .banner .slide .photo img object, .banner #me .overlay .slide .photo img object, #you .overlay .banner .slide .photo img object, .banner #you .overlay .slide .photo img object, .banner #me .overlay .slide .photo img object, #me .overlay .banner .slide .photo img object, #me .overlay .slide .photo img object, #you #me .overlay .slide .photo img object, #me #you .overlay .slide .photo img object, .banner #you .overlay .slide .photo img object, #you .overlay .banner .slide .photo img object, #me #you .overlay .slide .photo img object, #you #me .overlay .slide .photo img object, #you .overlay .slide .photo img object, .banner .slide .photo object object, #me .overlay .banner .slide .photo object object, .banner #me .overlay .slide .photo object object, #you .overlay .banner .slide .photo object object, .banner #you .overlay .slide .photo object object, .banner #me .overlay .slide .photo object object, #me .overlay .banner .slide .photo object object, #me .overlay .slide .photo object object, #you #me .overlay .slide .photo object object, #me #you .overlay .slide .photo object object, .banner #you .overlay .slide .photo object object, #you .overlay .banner .slide .photo object object, #me #you .overlay .slide .photo object object, #you #me .overlay .slide .photo object object, #you .overlay .slide .photo object object, .banner .slide .photo video object, #me .overlay .banner .slide .photo video object, .banner #me .overlay .slide .photo video object, #you .overlay .banner .slide .photo video object, .banner #you .overlay .slide .photo video object, .banner #me .overlay .slide .photo video object, #me .overlay .banner .slide .photo video object, #me .overlay .slide .photo video object, #you #me .overlay .slide .photo video object, #me #you .overlay .slide .photo video object, .banner #you .overlay .slide .photo video object, #you .overlay .banner .slide .photo video object, #me #you .overlay .slide .photo video object, #you #me .overlay .slide .photo video object, #you .overlay .slide .photo video object, .banner .slide .photo video, #me .overlay .slide .photo video, #you .overlay .slide .photo video, .banner .slide .photo img video, #me .overlay .banner .slide .photo img video, .banner #me .overlay .slide .photo img video, #you .overlay .banner .slide .photo img video, .banner #you .overlay .slide .photo img video, .banner #me .overlay .slide .photo img video, #me .overlay .banner .slide .photo img video, #me .overlay .slide .photo img video, #you #me .overlay .slide .photo img video, #me #you .overlay .slide .photo img video, .banner #you .overlay .slide .photo img video, #you .overlay .banner .slide .photo img video, #me #you .overlay .slide .photo img video, #you #me .overlay .slide .photo img video, #you .overlay .slide .photo img video, .banner .slide .photo object video, #me .overlay .banner .slide .photo object video, .banner #me .overlay .slide .photo object video, #you .overlay .banner .slide .photo object video, .banner #you .overlay .slide .photo object video, .banner #me .overlay .slide .photo object video, #me .overlay .banner .slide .photo object video, #me .overlay .slide .photo object video, #you #me .overlay .slide .photo object video, #me #you .overlay .slide .photo object video, .banner #you .overlay .slide .photo object video, #you .overlay .banner .slide .photo object video, #me #you .overlay .slide .photo object video, #you #me .overlay .slide .photo object video, #you .overlay .slide .photo object video, .banner .slide .photo video video, #me .overlay .banner .slide .photo video video, .banner #me .overlay .slide .photo video video, #you .overlay .banner .slide .photo video video, .banner #you .overlay .slide .photo video video, .banner #me .overlay .slide .photo video video, #me .overlay .banner .slide .photo video video, #me .overlay .slide .photo video video, #you #me .overlay .slide .photo video video, #me #you .overlay .slide .photo video video, .banner #you .overlay .slide .photo video video, #you .overlay .banner .slide .photo video video, #me #you .overlay .slide .photo video video, #you #me .overlay .slide .photo video video, #you .overlay .slide .photo video video { left: auto; right: -8%; max-height: 34em; min-width: 23em; }
#you .slide .photo img, #you #me .overlay .slide .photo img img, #me .overlay #you .slide .photo img img, #you .overlay .slide .photo img img, #you #me .overlay .slide .photo object img, #me .overlay #you .slide .photo object img, #you .overlay .slide .photo object img, #you #me .overlay .slide .photo video img, #me .overlay #you .slide .photo video img, #you .overlay .slide .photo video img, #you .slide .photo object, #you #me .overlay .slide .photo img object, #me .overlay #you .slide .photo img object, #you .overlay .slide .photo img object, #you #me .overlay .slide .photo object object, #me .overlay #you .slide .photo object object, #you .overlay .slide .photo object object, #you #me .overlay .slide .photo video object, #me .overlay #you .slide .photo video object, #you .overlay .slide .photo video object, #you .slide .photo video, #you #me .overlay .slide .photo img video, #me .overlay #you .slide .photo img video, #you .overlay .slide .photo img video, #you #me .overlay .slide .photo object video, #me .overlay #you .slide .photo object video, #you .overlay .slide .photo object video, #you #me .overlay .slide .photo video video, #me .overlay #you .slide .photo video video, #you .overlay .slide .photo video video { max-height: 37em; min-width: 24em; }
.slide .hidden { opacity: 0; -moz-transition: all 0.5s; -webkit-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s; }
.slide .fRight { min-height: 32em; }

#meNext { position: absolute; right: 0; top: 40%; }

.moveUp:nth-child(n+2), .moveLeft:nth-child(n+2), .moveRight:nth-child(n+2) { display: none; }

/* FORMS *********/
input[type="textbox"], textarea { display: block; position: relative; width: 87%; min-width: 280px; max-width: 350px; margin: 0 20px 5px 0; padding: 10px 15px 8px; font-size: 17px; font-family: "proxima-nova", sans-serif; color: #111; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.85); background: #d4d4d4; border: none; border-top: 2px solid rgba(0, 0, 0, 0.85); border-bottom: 1px solid rgba(255, 255, 255, 0.35); border-radius: 8px; -webkit-border-radius: 8px; -moz-border-radius: 8px; -o-border-radius: 8px; }

label, input[type=button], input[type=submit], button { cursor: pointer; }

form .messageBox { float: left; padding: 20px 0; }
form .success { color: #CDD255; }
form .fail { color: #EE2040; }

/* BUTTONS *********/
.btn, a.btn:active, a.btn:visited, .btnIcon, a.btnIcon:active, a.btnIcon:visited { display: inline-block; position: relative; min-width: 140px; height: 20px; line-height: 19px; font-size: 18px; padding: 16px; margin: 20px 20px 20px 0; text-align: center; vertical-align: middle; color: #fff !important; text-shadow: 0 1px 1px #351520; border: 1px solid #752141; box-shadow: 0 1px 0 0 #ff94cd inset; border-radius: 8px; -webkit-border-radius: 8px; -moz-border-radius: 8px; -o-border-radius: 8px; background: #d0508c; background-image: -ms-linear-gradient(top, #e464a0 0, #8e284e 1); background-image: -moz-linear-gradient(top, #e464a0 0, #8e284e 1); background-image: -o-linear-gradient(top, #e464a0 0, #8e284e 1); background-image: -webkit-linear-gradient(top, #e464a0 0, #8e284e 1); background-image: linear-gradient(to bottom, #e464a0 0%, #8e284e 100%); background-image: -webkit-gradient(linear, top right, bottom right, color-stop(0, #e464a0), color-stop(1, #8e284e)); -moz-transition: all 0s; -webkit-transition: all 0s; -o-transition: all 0s; transition: all 0s; }
.dark .btn, .dark a.btn:active, .dark a.btn:visited, .dark .btnIcon, .dark a.btnIcon:active, .dark a.btnIcon:visited { background: #a72656; background-image: -ms-linear-gradient(top, #bb3a6a 0, #752141 1); background-image: -moz-linear-gradient(top, #bb3a6a 0, #752141 1); background-image: -o-linear-gradient(top, #bb3a6a 0, #752141 1); background-image: -webkit-linear-gradient(top, #bb3a6a 0, #752141 1); background-image: linear-gradient(to bottom, #bb3a6a 0%, #752141 100%); background-image: -webkit-gradient(linear, top right, bottom right, color-stop(0, #bb3a6a), color-stop(1, #752141)); border-color: #351520; box-shadow: 0 1px 0 0 #E464A0 inset; }
.btn:hover, a.btn:hover:active, a.btn:hover:visited, .btnIcon:hover, a.btnIcon:hover:active, a.btnIcon:hover:visited { text-shadow: 0 1px 1px #292A11; border-color: #767932; box-shadow: 0 1px 0 0 #eaef6c inset; background: #B7BB65; background-image: -ms-linear-gradient(top, #cdd255 0, #767932 1); background-image: -moz-linear-gradient(top, #cdd255 0, #767932 1); background-image: -o-linear-gradient(top, #cdd255 0, #767932 1); background-image: -webkit-linear-gradient(top, #cdd255 0, #767932 1); background-image: linear-gradient(to bottom, #cdd255 0%, #767932 100%); background-image: -webkit-gradient(linear, top right, bottom right, color-stop(0, #cdd255), color-stop(1, #767932)); -moz-transition: all 0s; -webkit-transition: all 0s; -o-transition: all 0s; transition: all 0s; }
.dark .btn:hover, .dark .btnIcon:hover, .dark a.btnIcon:hover:active, .dark a.btnIcon:hover:visited { border-color: #292A11; }

.btnIcon, a.btnIcon:active, a.btnIcon:visited { min-width: 30px; width: 35px; height: 30px; line-height: 32px; padding: 10px; font-size: 42px; font-weight: 700; }

input.btn, input.btnIcon, button.btn, button.btnIcon { height: 50px; }
input.btn[type="submit"], input[type="submit"].btnIcon, button[type="submit"].btn, button[type="submit"].btnIcon { display: none; }

/* FOOTER *********/
footer { position: relative; border-top: 1px solid #111; background: #3f3f3f url("../img/bg_footer.png") repeat 0 0; overflow: hidden; }
footer .wrap { padding-top: 30px; }

/* ICONS *********/
@font-face { font-family: 'ico'; src: url("../inc/ico.eot?65120225"); src: url("../inc/ico.eot?65120225#iefix") format("embedded-opentype"), url("../inc/ico.woff?65120225") format("woff"), url("../inc/ico.ttf?65120225") format("truetype"), url("../inc/ico.svg?65120225#ico") format("svg"); font-weight: normal; font-style: normal; }

[class^="icon-"]:before, [class*=" icon-"]:before { font-family: "ico"; font-style: normal; font-weight: normal; speak: none; display: inline-block; text-decoration: inherit; width: 1em; margin-right: .2em; text-align: center; /* opacity: .8; */ /* For safety - reset parent styles, that can break glyph codes*/ font-variant: normal; text-transform: none; /* fix buttons height, for twitter bootstrap */ line-height: 1em; /* Animation center compensation - margins should be symmetric */ /* remove if not needed */ margin-left: .2em; /* you can be more comfortable with increased icons size */ /* font-size: 120%; */ /* Uncomment for 3D effect */ /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-heart:before { content: '\e809'; color: #BB3A6A; text-shadow: 0px -2px 0px #8e284e, 0px 1px 0px white; }

/* '' */
.icon-right-open:before { content: '\e808'; }

/* '' */
.icon-left-open:before { content: '\e807'; }

/* '' */
.icon-to-end:before { content: '\e806'; }

/* '' */
.icon-to-start:before { content: '\e805'; }

/* '' */
.icon-dribbble:before { content: '\e801'; }

/* '' */
.icon-github:before { content: '\e804'; }

/* '' */
.icon-twitter:before { content: '\e803'; }

/* '' */
.icon-linkedin:before { content: '\e802'; }

/* '' */
.icon-instagram:before { content: '\e800'; }

/* '' */
.icon-search:before { content: '\e80a'; }

/* '' */
/* ICONS (IE) *********/
body.i6 [class^="icon-"], body.i6 [class*=" icon-"], body.i7 [class^="icon-"], body.i7 [class*=" icon-"], body.i8 [class^="icon-"], body.i8 [class*=" icon-"] { font-family: 'ico'; font-style: normal; font-weight: normal; /* fix buttons height */ line-height: 1em; /* you can be more comfortable with increased icons size */ /* font-size: 120%; */ }
body.i6 .icon-heart, body.i7 .icon-heart, body.i8 .icon-heart { *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe809;&nbsp;'); }
body.i6 .icon-right-open, body.i7 .icon-right-open, body.i8 .icon-right-open { *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe808;&nbsp;'); }
body.i6 .icon-left-open, body.i7 .icon-left-open, body.i8 .icon-left-open { *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe807;&nbsp;'); }
body.i6 .icon-to-end, body.i7 .icon-to-end, body.i8 .icon-to-end { *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe806;&nbsp;'); }
body.i6 .icon-to-start, body.i7 .icon-to-start, body.i8 .icon-to-start { *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe805;&nbsp;'); }
body.i6 .icon-dribbble, body.i7 .icon-dribbble, body.i8 .icon-dribbble { *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe801;&nbsp;'); }
body.i6 .icon-github, body.i7 .icon-github, body.i8 .icon-github { *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe804;&nbsp;'); }
body.i6 .icon-twitter, body.i7 .icon-twitter, body.i8 .icon-twitter { *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe803;&nbsp;'); }
body.i6 .icon-linkedin, body.i7 .icon-linkedin, body.i8 .icon-linkedin { *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe802;&nbsp;'); }
body.i6 .icon-instagram, body.i7 .icon-instagram, body.i8 .icon-instagram { *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe800;&nbsp;'); }
body.i6 .icon-search, body.i7 .icon-search, body.i8 .icon-search { *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe80a;&nbsp;'); }

/* MISC + OVERRIDES *********/
div.collapse { max-height: 1px; -moz-transition: all 0.5s; -webkit-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s; }

div.expand { max-height: 5000px; -moz-transition: all 2s; -webkit-transition: all 2s; -o-transition: all 2s; transition: all 2s; }

a.collapse { line-height: 24px; }

a.expand { line-height: 32px; }

div.break { display: block; margin: 2.08333% 0 5.20833%; padding: 0; text-align: center; }
div.break a.btnIcon { margin: 4px 0.25em 0; }
div.break hr { display: inline-block; width: 36%; height: 1px; margin: 0; padding: 0; border: none; border-bottom: 1px solid #e5e5e5; }

.shadowDark, .shadowLight { display: inline-block; position: absolute; left: -50px; top: 0; width: 150%; height: 150%; box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.5) inset; }

.shadowLight { box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.25) inset; }

.fLeft { float: left; }

.fRight { float: right; }

.aRight { text-align: right; }

.aLeft { text-align: left; }

.centre { text-align: center; }

.hidden { display: none !important; }

.padSolo { padding-right: 3.125%; padding-left: 3.125%; }

.padRL1 { padding-right: 8.33333%; padding-left: 8.33333%; }

.padR1 { padding-right: 8.33333%; }

.padL1 { padding-left: 8.33333%; }

.padR4G { padding-right: 8.33333%; }

.padL4G { padding-left: 8.33333%; }

.padR2G { padding-right: 4.16667%; }

.padL2G { padding-left: 4.16667%; }

.padR1G { padding-right: 2.08333%; }

.padL1G { padding-left: 2.08333%; }

.padTB1 { padding-top: 70px; padding-bottom: 70px; }

.padT1 { padding-top: 70px; }

.padB1 { padding-bottom: 70px; }

.padB1-5 { padding-bottom: 105px; }

.padB0-7 { padding-bottom: 46.66667px; }

.padB0-5 { padding-bottom: 35px; }

.clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }

.clearfix:after { clear: both; content: ' '; display: block; font-size: 0; line-height: 0; visibility: hidden; width: 0; height: 0; }

* html .clearfix, *:first-child + html .clearfix { zoom: 1; }

/* ANIMATIONS *********/
.moveLeft { -webkit-animation: moveLeft 0.4s linear backwards 0s; -moz-animation: moveLeft 0.4s linear backwards 0s; -o-animation: moveLeft 0.4s linear backwards 0s; animation: moveLeft 0.4s linear backwards 0s; }

.moveRight { -webkit-animation: moveRight 0.4s linear backwards 0.2s; -moz-animation: moveRight 0.4s linear backwards 0.2s; -o-animation: moveRight 0.4s linear backwards 0.2s; animation: moveRight 0.4s linear backwards 0.2s; }

.moveUp { -webkit-animation: moveUp 0.4s linear backwards 0.3s; -moz-animation: moveUp 0.4s linear backwards 0.3s; -o-animation: moveUp 0.4s linear backwards 0.3s; animation: moveUp 0.4s linear backwards 0.3s; }

.expand { -webkit-animation: heightAuto 1s linear backwards 0; -moz-animation: heightAuto 1s linear backwards 0; -o-animation: heightAuto 1s linear backwards 0; animation: heightAuto 1s linear backwards 0; }

/* KEYFRAMES *********/
@-webkit-keyframes moveLeft { 99% { transform: opacity(0); }
  100% { -webkit-transform: translate(-3000px, 0); -ms-transform: translate(-3000px, 0); transform: translate(-3000px, 0); } }

@-moz-keyframes moveLeft { 99% { transform: opacity(0); }
  100% { -webkit-transform: translate(-3000px, 0); -ms-transform: translate(-3000px, 0); transform: translate(-3000px, 0); } }

@-o-keyframes moveLeft { 99% { transform: opacity(0); }
  100% { -webkit-transform: translate(-3000px, 0); -ms-transform: translate(-3000px, 0); transform: translate(-3000px, 0); } }

@keyframes moveLeft { 99% { transform: opacity(0); }
  100% { -webkit-transform: translate(-3000px, 0); -ms-transform: translate(-3000px, 0); transform: translate(-3000px, 0); } }

@-webkit-keyframes moveRight { 99% { transform: opacity(0); }
  100% { -webkit-transform: translate(3000px, 0); -ms-transform: translate(3000px, 0); transform: translate(3000px, 0); } }

@-moz-keyframes moveRight { 99% { transform: opacity(0); }
  100% { -webkit-transform: translate(3000px, 0); -ms-transform: translate(3000px, 0); transform: translate(3000px, 0); } }

@-o-keyframes moveRight { 99% { transform: opacity(0); }
  100% { -webkit-transform: translate(3000px, 0); -ms-transform: translate(3000px, 0); transform: translate(3000px, 0); } }

@keyframes moveRight { 99% { transform: opacity(0); }
  100% { -webkit-transform: translate(3000px, 0); -ms-transform: translate(3000px, 0); transform: translate(3000px, 0); } }

@-webkit-keyframes moveUp { 99% { transform: opacity(0); }
  100% { -webkit-transform: translate(0, -3000px); -ms-transform: translate(0, -3000px); transform: translate(0, -3000px); } }

@-moz-keyframes moveUp { 99% { transform: opacity(0); }
  100% { -webkit-transform: translate(0, -3000px); -ms-transform: translate(0, -3000px); transform: translate(0, -3000px); } }

@-o-keyframes moveUp { 99% { transform: opacity(0); }
  100% { -webkit-transform: translate(0, -3000px); -ms-transform: translate(0, -3000px); transform: translate(0, -3000px); } }

@keyframes moveUp { 99% { transform: opacity(0); }
  100% { -webkit-transform: translate(0, -3000px); -ms-transform: translate(0, -3000px); transform: translate(0, -3000px); } }

@-webkit-keyframes heightAuto { 100% { height: "3000px"; } }

@-moz-keyframes heightAuto { 100% { height: "3000px"; } }

@-o-keyframes heightAuto { 100% { height: "3000px"; } }

@keyframes heightAuto { 100% { height: "3000px"; } }

/* MEDIA QUERIES *********/
@media screen and (min-width: 1441px) { .banner .slide .photo img, #me .overlay .slide .photo img, #you .overlay .slide .photo img, #me .overlay .banner .slide .photo img img, .banner #me .overlay .slide .photo img img, #you .overlay .banner .slide .photo img img, .banner #you .overlay .slide .photo img img, .banner #me .overlay .slide .photo img img, #me .overlay .banner .slide .photo img img, #me .overlay .slide .photo img img, #you #me .overlay .slide .photo img img, #me #you .overlay .slide .photo img img, .banner #you .overlay .slide .photo img img, #you .overlay .banner .slide .photo img img, #me #you .overlay .slide .photo img img, #you #me .overlay .slide .photo img img, #you .overlay .slide .photo img img, .banner .slide .photo object img, #me .overlay .banner .slide .photo object img, .banner #me .overlay .slide .photo object img, #you .overlay .banner .slide .photo object img, .banner #you .overlay .slide .photo object img, .banner #me .overlay .slide .photo object img, #me .overlay .banner .slide .photo object img, #me .overlay .slide .photo object img, #you #me .overlay .slide .photo object img, #me #you .overlay .slide .photo object img, .banner #you .overlay .slide .photo object img, #you .overlay .banner .slide .photo object img, #me #you .overlay .slide .photo object img, #you #me .overlay .slide .photo object img, #you .overlay .slide .photo object img, .banner .slide .photo video img, #me .overlay .banner .slide .photo video img, .banner #me .overlay .slide .photo video img, #you .overlay .banner .slide .photo video img, .banner #you .overlay .slide .photo video img, .banner #me .overlay .slide .photo video img, #me .overlay .banner .slide .photo video img, #me .overlay .slide .photo video img, #you #me .overlay .slide .photo video img, #me #you .overlay .slide .photo video img, .banner #you .overlay .slide .photo video img, #you .overlay .banner .slide .photo video img, #me #you .overlay .slide .photo video img, #you #me .overlay .slide .photo video img, #you .overlay .slide .photo video img, .banner .slide .photo object, #me .overlay .slide .photo object, #you .overlay .slide .photo object, .banner .slide .photo img object, #me .overlay .banner .slide .photo img object, .banner #me .overlay .slide .photo img object, #you .overlay .banner .slide .photo img object, .banner #you .overlay .slide .photo img object, .banner #me .overlay .slide .photo img object, #me .overlay .banner .slide .photo img object, #me .overlay .slide .photo img object, #you #me .overlay .slide .photo img object, #me #you .overlay .slide .photo img object, .banner #you .overlay .slide .photo img object, #you .overlay .banner .slide .photo img object, #me #you .overlay .slide .photo img object, #you #me .overlay .slide .photo img object, #you .overlay .slide .photo img object, .banner .slide .photo object object, #me .overlay .banner .slide .photo object object, .banner #me .overlay .slide .photo object object, #you .overlay .banner .slide .photo object object, .banner #you .overlay .slide .photo object object, .banner #me .overlay .slide .photo object object, #me .overlay .banner .slide .photo object object, #me .overlay .slide .photo object object, #you #me .overlay .slide .photo object object, #me #you .overlay .slide .photo object object, .banner #you .overlay .slide .photo object object, #you .overlay .banner .slide .photo object object, #me #you .overlay .slide .photo object object, #you #me .overlay .slide .photo object object, #you .overlay .slide .photo object object, .banner .slide .photo video object, #me .overlay .banner .slide .photo video object, .banner #me .overlay .slide .photo video object, #you .overlay .banner .slide .photo video object, .banner #you .overlay .slide .photo video object, .banner #me .overlay .slide .photo video object, #me .overlay .banner .slide .photo video object, #me .overlay .slide .photo video object, #you #me .overlay .slide .photo video object, #me #you .overlay .slide .photo video object, .banner #you .overlay .slide .photo video object, #you .overlay .banner .slide .photo video object, #me #you .overlay .slide .photo video object, #you #me .overlay .slide .photo video object, #you .overlay .slide .photo video object, .banner .slide .photo video, #me .overlay .slide .photo video, #you .overlay .slide .photo video, .banner .slide .photo img video, #me .overlay .banner .slide .photo img video, .banner #me .overlay .slide .photo img video, #you .overlay .banner .slide .photo img video, .banner #you .overlay .slide .photo img video, .banner #me .overlay .slide .photo img video, #me .overlay .banner .slide .photo img video, #me .overlay .slide .photo img video, #you #me .overlay .slide .photo img video, #me #you .overlay .slide .photo img video, .banner #you .overlay .slide .photo img video, #you .overlay .banner .slide .photo img video, #me #you .overlay .slide .photo img video, #you #me .overlay .slide .photo img video, #you .overlay .slide .photo img video, .banner .slide .photo object video, #me .overlay .banner .slide .photo object video, .banner #me .overlay .slide .photo object video, #you .overlay .banner .slide .photo object video, .banner #you .overlay .slide .photo object video, .banner #me .overlay .slide .photo object video, #me .overlay .banner .slide .photo object video, #me .overlay .slide .photo object video, #you #me .overlay .slide .photo object video, #me #you .overlay .slide .photo object video, .banner #you .overlay .slide .photo object video, #you .overlay .banner .slide .photo object video, #me #you .overlay .slide .photo object video, #you #me .overlay .slide .photo object video, #you .overlay .slide .photo object video, .banner .slide .photo video video, #me .overlay .banner .slide .photo video video, .banner #me .overlay .slide .photo video video, #you .overlay .banner .slide .photo video video, .banner #you .overlay .slide .photo video video, .banner #me .overlay .slide .photo video video, #me .overlay .banner .slide .photo video video, #me .overlay .slide .photo video video, #you #me .overlay .slide .photo video video, #me #you .overlay .slide .photo video video, .banner #you .overlay .slide .photo video video, #you .overlay .banner .slide .photo video video, #me #you .overlay .slide .photo video video, #you #me .overlay .slide .photo video video, #you .overlay .slide .photo video video { max-height: 36em; min-width: 24em; } }
@media screen and (min-width: 1025px) and (max-width: 1440px) { body { font-size: 1.125em; }
  p, ul, ol { padding: 0 0 20.30075px; }
  ul, ol { margin: 0 0 0 36px; }
  ul.flush, ol.flush { margin-left: 20px; }
  li { margin: 0; padding: 0 0 4.15385px 12px; }
  h1, h2 { padding: 0 0 21.6px; }
  h3 { padding: 14.4px 0 19.63636px; }
  h4 { padding: 14.4px 0 5.4px; }
  h1 { font-size: 3.7125em; }
  h2 { font-size: 1.575em; }
  h3 { font-size: 1.35em; }
  h4 { font-size: 1.125em; }
  blockquote { font-size: 1.6875em; }
  article { padding: 0 0 54px; }
  article header { padding-top: 54px; padding-bottom: 21.6px; }
  article .banner header, article #me .overlay header, #me article .overlay header, article #you .overlay header, #you article .overlay header { padding-bottom: 16.2px; }
  article.top header { padding-top: 104px; }
  article.top header h1 { font-size: 3.15563em; }
  #cv .grey h2 { font-size: 2.12143em; color: #3F3F3F; }
  .padTB1 { padding-top: 54px; padding-bottom: 54px; }
  .padT1 { padding-top: 54px; }
  .padB1 { padding-bottom: 54px; }
  .padB1-5 { padding-bottom: 81px; }
  .padB0-7 { padding-bottom: 36px; }
  .padB0-5 { padding-bottom: 27px; } }
@media screen and (max-width: 1024px) { body { font-size: 0.9375em; }
  p, ul, ol { padding: 0 0 16.91729px; }
  ul, ol { margin: 0 0 0 30px; }
  ul.flush, ol.flush { margin-left: 17px; }
  li { margin: 0; padding: 0 0 3.46154px 10px; }
  h1, h2 { padding: 0 0 18px; }
  h3 { padding: 12px 0 16.36364px; }
  h4 { padding: 12px 0 4.5px; }
  h1 { font-size: 3.09375em; }
  h2 { font-size: 1.3125em; }
  h3 { font-size: 1.125em; }
  h4 { font-size: 0.9375em; }
  blockquote { font-size: 1.40625em; }
  article { padding: 0 0 45px; }
  article header { padding-top: 45px; padding-bottom: 18px; }
  article .banner header, article #me .overlay header, #me article .overlay header, article #you .overlay header, #you article .overlay header { padding-bottom: 13.5px; }
  article.top header { padding-top: 95px; }
  article.top header h1 { font-size: 2.62969em; }
  #cv .grey h2 { font-size: 1.76786em; color: #3F3F3F; }
  .padTB1 { padding-top: 45px; padding-bottom: 45px; }
  .padT1 { padding-top: 45px; }
  .padB1 { padding-bottom: 45px; }
  .padB1-5 { padding-bottom: 67.5px; }
  .padB0-7 { padding-bottom: 30px; }
  .padB0-5 { padding-bottom: 22.5px; }
  #me { background: white url("../img/bg_aboutme_ios.jpg") center top no-repeat; }
  #you { background: #3e292e url("../img/bg_aboutyou_ios.jpg") center top repeat-y; }
  .banner header em.large, #me .overlay header em.large, #you .overlay header em.large { padding: 4.1% 2.8% 4.4% 2.1%; }
  input[type="textbox"], textarea { min-width: 1px; } }
@media screen and (max-width: 999px) { #skillsGrid h2 { text-align: center; }
  .skills .grid6 { clear: both; width: 87%; } }
@media screen and (max-width: 767px) { body { font-size: 0.8125em; }
  p, ul, ol { padding: 0 0 14.66165px; }
  ul, ol { margin: 0 0 0 26px; }
  ul.flush, ol.flush { margin-left: 15px; }
  li { margin: 0; padding: 0 0 3px 8.66667px; }
  h1, h2 { padding: 0 0 15.6px; }
  h3 { padding: 10.4px 0 14.18182px; }
  h4 { padding: 10.4px 0 3.9px; }
  h1 { font-size: 2.68125em; }
  h2 { font-size: 1.1375em; }
  h3 { font-size: 0.975em; }
  h4 { font-size: 0.8125em; }
  blockquote { font-size: 1.21875em; }
  article { padding: 0 0 39px; }
  article header { padding-top: 39px; padding-bottom: 15.6px; }
  article .banner header, article #me .overlay header, #me article .overlay header, article #you .overlay header, #you article .overlay header { padding-bottom: 11.7px; }
  article.top header { padding-top: 89px; }
  article.top header h1 { font-size: 2.27906em; }
  #cv .grey h2 { font-size: 1.53214em; color: #3F3F3F; }
  .padTB1 { padding-top: 39px; padding-bottom: 39px; }
  .padT1 { padding-top: 39px; }
  .padB1 { padding-bottom: 39px; }
  .padB1-5 { padding-bottom: 58.5px; }
  .padB0-7 { padding-bottom: 26px; }
  .padB0-5 { padding-bottom: 19.5px; }
  #me { background: white url("../img/bg_aboutme_ios.jpg") center top no-repeat; }
  #you { background: #3e292e url("../img/bg_aboutyou_ios.jpg") center top repeat-y; }
  h2 { font-size: 1.5em; }
  h3 { font-size: 1.25em; }
  h4 { font-size: 1.125em; }
  header[role="banner"] h1#logo { display: none; }
  header[role="banner"] .wrap { text-align: center; }
  header[role="banner"] .wrap nav[role="navigation"] { float: none; }
  header[role="banner"] .wrap nav[role="navigation"] ul, header[role="banner"] .wrap nav[role="navigation"] li { float: none; text-align: center; }
  header[role="banner"] .wrap nav[role="navigation"] a { font-size: 10px; margin: 2px 0; -webkit-user-select: none; }
  header[role="banner"] .wrap nav[role="navigation"] a:hover { background: none; }
  .grid1, .grid2, .grid3, .grid4, .grid5, .skills h3 .label, .grid6, .grid7, .grid8, .grid9, .grid10, .grid11, .grid12 { display: block; width: 87%; padding-right: 6.5%; padding-left: 6.5%; }
  .grid1 { margin-top: 3.25px; margin-bottom: 13px; }
  h1 .grid1 { margin-top: 0; }
  .marginRL1 { margin-right: 0; margin-left: 0; }
  .marginR1 { margin-right: 0; }
  .marginL1 { margin-left: 0; }
  .grid2 { margin-top: 3.25px; margin-bottom: 13px; }
  h1 .grid2 { margin-top: 0; }
  .marginRL2 { margin-right: 0; margin-left: 0; }
  .marginR2 { margin-right: 0; }
  .marginL2 { margin-left: 0; }
  .grid3 { margin-top: 3.25px; margin-bottom: 13px; }
  h1 .grid3 { margin-top: 0; }
  .marginRL3 { margin-right: 0; margin-left: 0; }
  .marginR3 { margin-right: 0; }
  .marginL3 { margin-left: 0; }
  .grid4 { margin-top: 3.25px; margin-bottom: 13px; }
  h1 .grid4 { margin-top: 0; }
  .marginRL4 { margin-right: 0; margin-left: 0; }
  .marginR4 { margin-right: 0; }
  .marginL4 { margin-left: 0; }
  .grid5, .skills h3 .label { margin-top: 3.25px; margin-bottom: 13px; }
  h1 .grid5, h1 .skills h3 .label, .skills h3 h1 .label { margin-top: 0; }
  .marginRL5 { margin-right: 0; margin-left: 0; }
  .marginR5 { margin-right: 0; }
  .marginL5 { margin-left: 0; }
  .grid6 { margin-top: 3.25px; margin-bottom: 13px; }
  h1 .grid6 { margin-top: 0; }
  .marginRL6 { margin-right: 0; margin-left: 0; }
  .marginR6 { margin-right: 0; }
  .marginL6 { margin-left: 0; }
  .grid7 { margin-top: 3.25px; margin-bottom: 13px; }
  h1 .grid7 { margin-top: 0; }
  .marginRL7 { margin-right: 0; margin-left: 0; }
  .marginR7 { margin-right: 0; }
  .marginL7 { margin-left: 0; }
  .grid8 { margin-top: 3.25px; margin-bottom: 13px; }
  h1 .grid8 { margin-top: 0; }
  .marginRL8 { margin-right: 0; margin-left: 0; }
  .marginR8 { margin-right: 0; }
  .marginL8 { margin-left: 0; }
  .grid9 { margin-top: 3.25px; margin-bottom: 13px; }
  h1 .grid9 { margin-top: 0; }
  .grid10 { margin-top: 3.25px; margin-bottom: 13px; }
  h1 .grid10 { margin-top: 0; }
  .grid11 { margin-top: 3.25px; margin-bottom: 13px; }
  h1 .grid11 { margin-top: 0; }
  .grid12 { margin-top: 3.25px; margin-bottom: 13px; }
  h1 .grid12 { margin-top: 0; }
  div.skills, div.skills div.grid6, div.skills div.grid6 h3.grid12 { width: 100%; margin: 0; padding: 0; }
  div.skills div.grid6 h3.grid12 .label { width: 27.5%; }
  .banner .slide .photo, #me .overlay .slide .photo, #you .overlay .slide .photo, .banner .slide .photo img, #me .overlay .banner .slide .photo img, .banner #me .overlay .slide .photo img, #you .overlay .banner .slide .photo img, .banner #you .overlay .slide .photo img, .banner #me .overlay .slide .photo img, #me .overlay .banner .slide .photo img, #me .overlay .slide .photo img, #you #me .overlay .slide .photo img, #me #you .overlay .slide .photo img, .banner #you .overlay .slide .photo img, #you .overlay .banner .slide .photo img, #me #you .overlay .slide .photo img, #you #me .overlay .slide .photo img, #you .overlay .slide .photo img, .banner .slide .photo object, #me .overlay .banner .slide .photo object, .banner #me .overlay .slide .photo object, #you .overlay .banner .slide .photo object, .banner #you .overlay .slide .photo object, .banner #me .overlay .slide .photo object, #me .overlay .banner .slide .photo object, #me .overlay .slide .photo object, #you #me .overlay .slide .photo object, #me #you .overlay .slide .photo object, .banner #you .overlay .slide .photo object, #you .overlay .banner .slide .photo object, #me #you .overlay .slide .photo object, #you #me .overlay .slide .photo object, #you .overlay .slide .photo object, .banner .slide .photo video, #me .overlay .banner .slide .photo video, .banner #me .overlay .slide .photo video, #you .overlay .banner .slide .photo video, .banner #you .overlay .slide .photo video, .banner #me .overlay .slide .photo video, #me .overlay .banner .slide .photo video, #me .overlay .slide .photo video, #you #me .overlay .slide .photo video, #me #you .overlay .slide .photo video, .banner #you .overlay .slide .photo video, #you .overlay .banner .slide .photo video, #me #you .overlay .slide .photo video, #you #me .overlay .slide .photo video, #you .overlay .slide .photo video { display: none; }
  .banner .slide header.centre, #me .overlay .slide header.centre, #you .overlay .slide header.centre { padding-bottom: 0; padding-left: 0; text-align: center; }
  .banner .slide header.centre h1, #me .overlay .slide header.centre h1, #you .overlay .slide header.centre h1 { line-height: 1.2em; color: #949843; text-shadow: 0 -1px 0 #767932, 0 1px 0 rgba(255, 255, 255, 0.5); color: #8E284E; text-shadow: 0 -1px 0 #351520, 0 1px 0 rgba(255, 255, 255, 0.75); }
  .banner .slide header.centre h1 .titleLeft, #me .overlay .slide header.centre h1 .titleLeft, #you .overlay .slide header.centre h1 .titleLeft, .banner .slide header.centre h1 .aLeft, #me .overlay .slide header.centre h1 .aLeft, #you .overlay .slide header.centre h1 .aLeft, .banner .slide header.centre h1 .grid4, #me .overlay .slide header.centre h1 .grid4, #you .overlay .slide header.centre h1 .grid4, .banner .slide header.centre h1 .grid5, #me .overlay .slide header.centre h1 .grid5, #you .overlay .slide header.centre h1 .grid5, .banner .slide header.centre h1 .skills h3 .label, .skills h3 .banner .slide header.centre h1 .label, #me .overlay .slide header.centre h1 .skills h3 .label, .skills h3 #me .overlay .slide header.centre h1 .label, #you .overlay .slide header.centre h1 .skills h3 .label, .skills h3 #you .overlay .slide header.centre h1 .label, .banner .slide header.centre h1 .grid6, #me .overlay .slide header.centre h1 .grid6, #you .overlay .slide header.centre h1 .grid6, .banner .slide header.centre h1 .grid7, #me .overlay .slide header.centre h1 .grid7, #you .overlay .slide header.centre h1 .grid7 { width: 100%; margin: 0; padding-left: 0; padding-right: 0; text-align: center; }
  .banner .slide header.centre h1 .aLeft, #me .overlay .slide header.centre h1 .aLeft, #you .overlay .slide header.centre h1 .aLeft { margin-bottom: 0.65em; }
  .banner .slide header.centre em, #me .overlay .slide header.centre em, #you .overlay .slide header.centre em { display: inline; color: #8E284E; text-shadow: 0 -1px 0 #351520, 0 1px 0 rgba(255, 255, 255, 0.75); width: inherit; height: inherit; margin: 0; padding: 0; font-size: inherit; font-family: "ratio-display","proxima-nova",sans-serif; font-weight: 300; text-shadow: none; line-height: inherit; vertical-align: inherit; background: none; border: none; }
  .banner .slide header.centre .thin, #me .overlay .slide header.centre .thin, #you .overlay .slide header.centre .thin { display: block; text-transform: capitalize; }
  article.top header { padding-top: 50px; }
  article h2 { font-size: 1.75em; line-height: 1.25em; }
  article h3 { font-size: 1.125em; line-height: 0.975em; }
  .wrap { overflow: hidden; }
  div[role="main"] .wrap aside { text-align: left; }
  .wrap #cv .wrap aside.padB0-5, .wrap #cv .wrap aside.padB0-7 { padding-top: 32px; padding-bottom: 10px; border-top: 1px solid #e5e5e5; }
  .wrap #cv section { padding-bottom: 0.25em; }
  .wrap #cv .wrap section:first-child aside.padB0-5, .wrap #cv .wrap section:first-child aside.padB0-7 { padding-top: 0; border-top: none; }
  .light .overlay { background-image: none !important; background: rgba(255, 255, 255, 0.65); }
  .dark .overlay { background-image: none !important; background: rgba(18, 13, 15, 0.8); }
  .dark.banner .slide header h1 em, #me .dark.overlay .slide header h1 em, #you .dark.overlay .slide header h1 em { color: #BB3A6A; text-shadow: 0px -1px 0px #e464a0, 0px 1px 0px rgba(0, 0, 0, 0.75); }
  input[type="textbox"], textarea { min-width: 1px; }
  footer.padTB1 { padding: 0.125em 0; }
  .btn, a.btn:active, a.btn:visited, .btnIcon, a.btnIcon:active, a.btnIcon:visited, .btnIcon, a.btnIcon:active, a.btnIcon:visited { min-width: 0; }
  .btnGroup { text-align: center; }
  .spacer { display: none; }
  .padFull { padding-right: 8.33333%; padding-left: 8.33333%; }
  .padTB1 { padding-top: 9px 0; }
  .padR1 { padding-right: 0; }
  .padL1 { padding-left: 0; }
  .padR2G { padding-right: 0; }
  .padL2G { padding-left: 0; }
  .padR1G { padding-right: 0; }
  .padL1G { padding-left: 0; } }
@media print { * { background: transparent !important; color: #444 !important; text-shadow: none; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; }
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }
  /* Don't show links for images */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  img, object, video { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; } }
